[2016-01-29 15:00] gyulanemeth opened #1 "Enhanced link configuration options for buttons and images"
Many of our clients reported that they would expect the link toolbox work similarly like they saw it in ckEditor. This means that the protocol could be selectable, and there would be an "other" option there, which would not force any protocol on the link itself. (All of the selectable options: http://, https://, ftp:// <other>)

Also, it's expected to behave in the same way in the image's toolbox.

[2016-02-08 07:44] gyulanemeth commented on #1
To finalize this enhancement, we need the localization values for the following two words:
- Protocol,
- Other

[2016-02-08 07:54] gyulanemeth opened #2 "Link underline options are not visible in Spanish and Portuguese localizations"
Hi,

We have detected a new bug on the Spanish version of EDM Editor.

The "Link underline" works fine on the English version but the Spanish
one "Subrayo de enlace" it doesn't, we are unable to see buttons
"on/off". See attached image.

Can we solve that from the Dashboard? How?

Regards

[2016-02-08 07:57] gyulanemeth commented on #2
We investigated the issue and it came out that the localized values are too long in Spanish and Portuguese. We have been suggested to change it to "On" and "Off".
The original values were in Spanish:
"linkunderline-off": "Apagado",
"linkunderline-on": "Encendido"
and in Portuguese:
"linkunderline-off": "Ligado",
"linkunderline-on": "Desligado"

[2016-02-08 07:58] gyulanemeth opened #3 "Russian localization problem"
Hi Gyula/Roland,

How are you both? Hope all is well. Looks like you’ve been pretty busy recently, I have applied your latest editor version to our installs and I must say it looks great!

Just one tiny thing I spotted which has to do with text styling (in Russian UI only) and displaying tabs if you have menu elements positioned on the right (our preference). See screenshot attached, the words “Со

[2016-02-08 07:58] gyulanemeth commented on #3
We have changed the values, so it won't break the iconsRight layout.

[2016-02-08 08:02] gyulanemeth opened #4 "Too long lines in editor"
After editing a text element for several times, instead of spaces, there are only &nbsp; characters, thanks to which lines can be too long, so it can break the layout in the editor.
![bug](https://cloud.githubusercontent.com/assets/1527824/12880650/162bbe0c-ce43-11e5-81f0-c7e2b708ed79.png)

[2016-02-08 08:08] gyulanemeth commented on #4
We have fixed this, by replacing every occurrence of &nbsp; to space and then every double space to space + &nbsp;

If you have any templates with which this issue happened, you should edit the texts again and it will fix the problem in the this release.

[2016-02-08 08:09] gyulanemeth opened #5 "Video element is not working"
Hi guys,

When i try to import a video, the url from youtube or vimeo is not working. Also, when I import an image occasionally it says “0 x 0 pixels”when it is not that size, seeing that we can see the image.

Hope you can fix it,

Kind regards,

Richard

[2016-02-08 08:14] gyulanemeth commented on #5
We tried to reproduce this issue without any success. It worked for us with youtube and vimeo links.

There are some things you have to make sure in order to make the video element functional:
- You should implement a "stampler hook" on your side which puts the play icon on the video. You can find an example implementation in PHP here: https://github.com/EDMdesigner/Watermark-PHP
- You also have t

[2016-02-08 08:15] #5 closed, assigned to nobody

[2016-02-08 08:20] gyulanemeth opened #6 "Image in text - lorem ipsum around the image in ckEditor"
Dear Gyula,

We have tried inserting a small image into text block by custom message:

However, by double clicking the image, there are some surrounding text in preview area:

Is it possible to remove those surrounding text?

Thanks.
![bug1](https://cloud.githubusercontent.com/assets/1527824/12880864/1e2607aa-ce45-11e5-882b-1c020ec4f87e.png)
![bug2](https://cloud.githubusercontent.com/assets/15278

[2016-02-08 08:22] gyulanemeth commented on #6
It's not a bug... It's dummy text. It's there to show how the text will wrap around the image.
We can disable it with this option:
config.image_previewText = ""

We have been asked to set it up in the next release, so we will do.

[2016-02-08 13:20] PedroL-btl commented on #1
PT:  protocol:protocolo, other:outro.

[2016-02-08 16:50] Mailcamp opened #7 "Editor keeps loading"
Hi,

We have a customer where the editor page keeps loading.
Strange thing is that we can reach that page with his own login (where he could'nt).

His colleague on the same network has the same loading issue.

Do you have any idea what could be the problem?

Regards

Silas de Rooy
![edm-bug](https://cloud.githubusercontent.com/assets/16222817/12892418/5374e61e-ce8c-11e5-9d18-717a4afc960f.jpg)

[2016-02-09 09:59] RichardMailcamp opened #8 "Image outside box"
Hi,

When trying to place an image centered in a box, i cannot seem to center it properly when resizing. It hangs outside the box on one side. Included an image for review.

Thanx,

Richard
![image not centered in box](https://cloud.githubusercontent.com/assets/17139637/12912965/3362ff60-cf1c-11e5-99a5-940292482896.PNG)

[2016-02-09 10:06] #8 closed, assigned to nobody

[2016-02-11 14:47] agnieszkakowalska commented on #1
zh-HANS: protocol: 协议, other: 其他
FR: protocol: protocole, other: autre
PL: protocol: protokół, other: inny
RU: protocol: протокол, other: другой

[2016-02-11 14:49] agnieszkakowalska commented on #3
Our Russian partner suggested it would be better to replace “По умолчанию” with "Стандартные" or even "По умолч." to keep the meaning. What do you think?

[2016-02-11 14:59] rolficak commented on #3
The shorter the better. :+1: note: We don't speak Russian so have no idea :)
We received the above values from a Russian partner as well.

[2016-02-11 15:09] agnieszkakowalska commented on #3
Yes, I guess ;) Can you double check with them if it's okay? We received information that “Основные” doesn't have the exact meaning.

[2016-02-11 16:17] RichardMailcamp opened #9 "display problem in outlook"
## -Hi,

-We encountered a problem with a file from one of our clients. Ive added the zipped JSON and a couple of screenshots that illustrate the issue, as we haven't encountered it before. Maybe it's outlook related, seeing that the template is displayed the right way in a browser window, but as this is email marketing, i thought i'd at least mention it.
[56a754209399361a4d8801b0.zip](https://git

[2016-02-15 08:55] gyulanemeth commented on #9
Hello,

can you tell me the exact email clients on which it occured?

[2016-02-15 08:55] gyulanemeth commented on #9
Also, please use the generator repository for issues which are related with the html output.

[2016-02-15 08:55] #9 closed, assigned to nobody

[2016-02-15 08:59] gyulanemeth commented on #7
Hello,

did it happen only once or does it happen all the times with some of your clients?

[2016-02-15 10:05] nikbirukov commented on #3
It basically needs to be shorter that's all, i.e Instead of “Содержимое” – replace with “Контент” and  Instead of “По умолчанию” – replace with “Основные” these are the same meanings if you ask me. If other partner finds it confusing you can just shorten the second one to “Instead of “По умолчанию” – replace with “По умолч.” should work as well.

[2016-02-15 10:30] agnieszkakowalska commented on #3
Great, let's go with "По умолч." then. Thank you.

[2016-02-16 12:28] RichardMailcamp commented on #9
Ok, my apologies. It was on outlook

[2016-02-17 16:20] m33ch commented on #1
IT : protocol : protocollo, other : altro

[2016-02-19 16:12] gyulanemeth commented on #1
https://github.com/EDMdesigner/editor-issues/releases/tag/r20160219

[2016-02-19 16:12] #1 closed, assigned to nobody

[2016-02-19 16:12] gyulanemeth commented on #2
https://github.com/EDMdesigner/editor-issues/releases/tag/r20160219

[2016-02-19 16:12] #2 closed, assigned to nobody

[2016-02-19 16:13] gyulanemeth commented on #3
https://github.com/EDMdesigner/editor-issues/releases/tag/r20160219

[2016-02-19 16:13] #3 closed, assigned to nobody

[2016-02-19 16:13] gyulanemeth commented on #4
https://github.com/EDMdesigner/editor-issues/releases/tag/r20160219

[2016-02-19 16:13] #4 closed, assigned to nobody

[2016-02-19 16:13] gyulanemeth commented on #6
https://github.com/EDMdesigner/editor-issues/releases/tag/r20160219

[2016-02-19 16:13] #6 closed, assigned to nobody

[2016-02-19 19:16] leggomuhgreggo opened #10 "Paragraph Spacing in editor version r20160219"
Hello!

I swapped to the new editor version today and noticed a bug. When actively editing a text element I could make spacing between paragraphs by hitting enter, creating a `<p>` tag with a nested `&nbsp` but when I left the active state for editing the text the spacing between text blocks collapsed, and it was also collapsed in the preview. Took some screenshots.

Working normally in text edit

[2016-02-19 19:55] leggomuhgreggo commented on #10
Also, it'd be baller if a cookie could be set so that alerts of new editor availability wouldn't show every refresh.

[2016-02-22 07:44] confettidc opened #11 "Image + Text / Text + Image issue is editor r20160219"
Dear Gyula,

In editor r20160219, when using image + text block / text + image block, the text edited cannot save.

e.g. when edited the text block and click "Export" button directly below, **we manually call save project, and a "Save result: success" message returned by edmdesigner**:
![2016-02-22_15-41-54](https://cloud.githubusercontent.com/assets/5524183/13212280/e3286878-d97a-11e5-8e86-dd65b9

[2016-02-22 07:57] confettidc opened #12 "Image Group problem in r20160219"
Dear Gyula,

This was the issue reported to you by email before, we copy it to here so that you can follow more easily as this problem still occurs in r20160219

1) Created 3 image blocks
2) Removed 2nd image
3) Re-insert 2nd image, the 2nd image disappeared in right hand side

![2016-02-22_15-53-56](https://cloud.githubusercontent.com/assets/5524183/13212541/f50b08c8-d97c-11e5-8e5d-ec6db36c3808.j

[2016-02-22 09:12] gyulanemeth commented on #11
Thank you for reporting this, we will investigate and fix it in our next sprint starting on Wednesday.

[2016-02-22 09:15] gyulanemeth commented on #10
Hello,

yes, we have noticed this bug as well. I will look into it this afternoon and hopefully I can hotfix it in this editor version.

[2016-02-22 09:15] gyulanemeth commented on #12
Thank you for opening this issue, we will investigate it in our next spring starting on Wednesday.

[2016-02-22 09:16] #7 closed, assigned to nobody

[2016-02-23 12:24] gyulanemeth commented on #10
Hotfixed in https://github.com/EDMdesigner/editor-issues/releases/tag/r20160219

[2016-02-23 12:24] #10 closed, assigned to nobody

[2016-03-01 07:34] agnieszkakowalska opened #13 "Border widths feature"
Hi, I was already writing you about this, but would like to post it here for better tracking.

Would you be able to add numbers for border’s width, the same as in padding and margin? Our client suggested that it would be useful to quickly see what’s the width without clicking on each border separately.
![a](https://cloud.githubusercontent.com/assets/17157918/13420645/49c94184-df88-11e5-8d07-00d12a

[2016-03-01 07:51] agnieszkakowalska opened #14 "0x0px image size issue in custom gallery"
There is still an issue with images in custom gallery -after adding an image, it has size 0x0px and only after going to another element and going back, it is possible to change the size.

[2016-03-01 07:54] agnieszkakowalska opened #15 "H1 element formatting issue in Firefox"
If you add H1 element in Firefox, double click and start to write, the formatting disappears.

[2016-03-01 07:58] agnieszkakowalska opened #16 "Image group with custom gallery - cannot change the image"
Image group with custom gallery – after changing layout you cannot change the image. Please see link: https://agnieszka.tinytake.com/sf/NDY5NzI4XzI1MTk1Mjk

[2016-03-01 08:03] agnieszkakowalska opened #17 "Large preview of image"
I don't know if it affects only custom gallery, but when I add an image, its preview is very large in version r20160219:
![2016-03-01 09_00_54-zdjecia](https://cloud.githubusercontent.com/assets/17157918/13421104/4da97c66-df8c-11e5-95b9-b19c93d4a0ed.png)

comparing to the previous version:
![2016-03-01 09_00_14-zdjecia](https://cloud.githubusercontent.com/assets/17157918/13421113/615f4b5a-df8c-11e

[2016-03-01 08:09] agnieszkakowalska opened #18 "switching between tabs is not working correctly"
When I add an image to the template and change tab to default, then I'm not able to come back to Content tab again unless I select other element and go back to image.
Video here: https://chruu.tinytake.com/sf/NDQyMzczXzIzOTg1NTM

[2016-03-04 12:42] Mailcamp opened #19 "Images resizes on multi upload"
When we upload multiple images in de editor, the original sizes changes, this does not happend when we only upload one image at the time.

See screenhot for example:
[Screenshot](https://p4.zdusercontent.com/attachment/239229/LyKkC8fPQg1feelbon0zeymXw?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..f6k7tzC1DtUstvX8Ii0P4g.XsGcO7wb5l7ziMwp-o_XY8-h1J81f5Vu6ddp6awlvyGu7lekLZTCClqqlfHB0hOMC6mYdj

[2016-03-08 14:18] GVPenni opened #20 "G+ logo incorrect"
Incorrect logo's offered in tool - they have since updated.

![btn_google _dark_normal_ios - copy](https://cloud.githubusercontent.com/assets/17725108/13603958/7c6f15c2-e538-11e5-979e-c35a90051c61.png)

![btn_google _dark_normal_ios](https://cloud.githubusercontent.com/assets/17725108/13603962/7f05bcc8-e538-11e5-8ca0-7e9389ab223e.png)
![btn_google _dark_normal_ios 2x - copy](https://cloud.githubus

[2016-03-09 13:28] gyulanemeth commented on #19
Thank you for reporting this, we opened a ticket and will fix it soon.

[2016-03-09 13:30] gyulanemeth commented on #15
Thank you for creating a github ticket, we will reinvestigate the issue and hopefully we will find a fix soon.

[2016-03-10 14:49] ghost commented on #16
We opened a ticket and will fix it soon.
Thank you for reporting this!

[2016-03-17 09:17] sines99 opened #21 "Color Picker german localization issue"
Hi there,

we have an issue with the colorpicker. If there are more than 5 colors are used, the title shifts up, so that it is not possible any more to enter own values.
Check out the screenshots:

![edm01](https://cloud.githubusercontent.com/assets/17900334/13841457/5b319c48-ec29-11e5-9a34-77c01c240676.png)
![edm02](https://cloud.githubusercontent.com/assets/17900334/13841458/5b4e1d3c-ec29-11e5-8

[2016-03-18 14:16] balintsoos commented on #16
Can you tell us which editor version you are using? I can't reproduce this bug in the latest version. Thank you in advance!

[2016-03-18 14:44] agnieszkakowalska commented on #16
It's the latest version, I've double checked right now. Also please be aware that this is a custom image gallery.

[2016-03-18 15:15] balintsoos commented on #16
Thanks for your reply, I continue the investigation.

[2016-03-22 11:48] GVPenni commented on #20
Thanks!!

[2016-03-22 11:49] rolficak commented on #20
[social-icons-default-1603.zip](https://github.com/EDMdesigner/editor-issues/files/184020/social-icons-default-1603.zip)

New social icon set. Will update our dashboard as well soon.

[2016-03-22 11:49] #20 closed, assigned to nobody

[2016-03-22 12:08] GVLien opened #22 "Social Follow Element on Mobile"
The social follow element cannot be edited/re-ordered on mobile. Therefore the logos are stacked on top of each other in mobile views.

![social follow](https://cloud.githubusercontent.com/assets/18006428/13951101/b54de960-f026-11e5-9729-d172b2d03043.jpg)

[2016-03-24 21:51] vcampitelli opened #23 "502 error with json/project/setProject endpoint"
Hi there!

I've been trying to use the `json/project/setProject` endpoint but I keep getting _502 Bad Gateway_.

The payload is about 44kB.

Can you help me?

Thank you,

[2016-03-25 13:38] balintsoos commented on #21
Thank you for reporting this issue, we will investigate and fix it soon.

[2016-03-25 14:39] m33ch opened #24 "Bug on link generate"
Some link like this one is "broked" from edm

https://h22166.www2.hp.com/event/eventpage.aspx?eventid=OAAwADUANAAyAA==&cc=it&lang=it

if make a button with this link, in the generated html code it became like this:

https://h22166.www2.hp.com/event/eventpage.aspx?eventid=OAAwADUANAAyAA&cc=it%E2%9F%A8\

if i make a link with the same url in a text area, in the resulting html code it became like thi

[2016-03-25 14:40] m33ch opened #25 "Missing link on image group"
Hi all,

on image group element missing attach link functionality on the images.

Thanks

[2016-03-29 12:14] gyulanemeth commented on #19
Hello, we simply could not reproduce this issue. Can you make a video about this issue please?

[2016-03-30 08:08] balintsoos commented on #16
This issue has been resolved. We will release next version of the editor in the upcoming days.

[2016-03-30 08:17] balintsoos commented on #14
This issue has been resolved. We will release next version of the editor in the upcoming days.

[2016-03-30 08:31] balintsoos commented on #11
This issue has been resolved. We will release next version of the editor in the upcoming days.

[2016-03-30 08:35] balintsoos commented on #17
This issue has been resolved. We will release next version of the editor in the upcoming days.

[2016-03-30 08:36] balintsoos commented on #18
This issue has been resolved. We will release next version of the editor in the upcoming days.

[2016-03-30 11:09] ghost commented on #25
Thank you for reporting this issue, we will investigate and fix it soon.

[2016-03-30 11:18] balintsoos commented on #24
Thank you for reporting this issue! We will investigate and fix it soon.

[2016-03-30 11:25] ghost commented on #23
Thank you for reporting this issue! We will investigate and fix it soon.

[2016-03-30 11:27] arnolduis commented on #22
Thank you for reporting this issue! We will investigate and fix it soon.

[2016-03-30 11:40] balintsoos commented on #25
Thanks for the report! We were thinking about to add all image element options to the image group as well but it may take some time, because it's a new feature.

[2016-04-01 07:35] arnolduis commented on #23
Can you send us the json you have used, and the request headers please?

[2016-04-01 14:26] vcampitelli commented on #23
Sure!

Request headers:

[code]

Payload: [payload.txt](https://github.com/EDMdesigner/editor-issues/files/199766/payload.txt)

Response:
`502 Bad Gateway
nginx/1.4.6 (Ubuntu)`

Thank you!

[2016-04-05 06:44] agnieszkakowalska opened #26 "Problem with editing RTL text"
Our client has a problem with editing right-to-left text:

"We need to change punctuation marks in footer according to customer's scheme: http://postimg.org/image/qvqujwsyp/. But marks are put to another line automatically. Please take a look at screencast: http://screenshots.ftpes.ru/Screencast_13-25_04-04-2016.mp4 "

Please let me know if we can do anything to make it work or is it a bug and we

[2016-04-05 07:31] balintsoos commented on #21
This issue has been resolved. We will release next version of the editor in the upcoming days.

[2016-04-05 07:39] rolficak commented on #26
We don't support right to left languages in the editor. Unfortunately the WYSIWYG module is not prepared for that properly.

I would advise you to copy paste the text with the required punctuation to the editor - including line breaks, spaces, etc. This way hopefully the format will stay the same.

[2016-04-05 13:49] agnieszkakowalska commented on #26
Our client says it's not working for him unfortunately...
Is there any chance of supporting RTL in the future?

[2016-04-05 13:49] leggomuhgreggo opened #27 "Preview Text"
Is there a way to insert preview text?

[reference](https://litmus.com/blog/the-ultimate-guide-to-preview-text-support)

[2016-04-05 14:03] rolficak commented on #26
![kepernyofoto 2016-04-05 - 16 01 36](https://cloud.githubusercontent.com/assets/6140317/14284403/b4202cfc-fb47-11e5-872c-bc310b457074.png)

I could still easily add the !!! and normal Latin characters to the editor.
So there might be something wrong with the formatting of the original text, that's copied.

Try to copy unformatted plain text and add the line breaks with the editor.

In my above ca

[2016-04-05 16:28] leggomuhgreggo commented on #27
Hey so I tried using a box element and hiding on both mobile and desktop, but the hide mobile doesn't work for gmail/android

Looked into a font size 0 option, but looks like there's a min of 5px

Right now I'm adding text that's the same color as the bg, but it'd be nice if it werent selectable.

Thanks!

[2016-04-12 19:53] leggomuhgreggo commented on #27
Wanted to follow up on this.

[2016-04-22 14:28] GVPenni opened #28 "Spelling Error in Tutorial Templates"
![image](https://cloud.githubusercontent.com/assets/17725108/14744469/d4bb44e2-089e-11e6-8b59-f9fea1c0b51f.png)

Should be 'off' instead of 'of'

[2016-04-26 16:27] GVSupport opened #29 "Stuck after selecting 'Defaults' tab"
If you select an element (example: image)
![image](https://cloud.githubusercontent.com/assets/18616807/14825949/c5b2c488-0bd3-11e6-85a3-4646570bf996.png)

Then select the Defaults tab

Then go back to Content - the header tab changes to 'Content' but the information shown belongs to 'Defaults'.

![image](https://cloud.githubusercontent.com/assets/18616807/14825998/f1a8d780-0bd3-11e6-9597-86b38069d

[2016-04-27 08:23] GVSupport opened #30 "Social Follow URL/mailto field contents/guidance not updating when follow type is changed"
After adding a 'Social Follow' Element to a design, when modifying the element, if the 'add another' button is used to add a third type and then the type is changed (e.g. from LinkedIn to Email), the 'Email Address/URL' field content does not update to reflect the new type of follow selected.

The field title changes (e.g. to Email Address) and the box is highlighted red, but the content remains (

[2016-04-27 12:17] GVSupport commented on #29
Looks like this may be the same as issue #18 (https://github.com/EDMdesigner/editor-issues/issues/18). I can't recreate it on the trial template on edmdesigner.com, only our integrated version - has the version with that fix been released?

[2016-04-27 20:39] leggomuhgreggo opened #31 "Box doesn't go full width on mobile gmail"
Hey looks like gmail mobile isn't setting box elements to be the full width of their container. My workaround was to set a parent box element that included an image at 600px, but it's a bit clumsy. Thoughts?

Thanks!

(also apologies for the huge images)

![editor view edm issue](https://cloud.githubusercontent.com/assets/2213636/14865647/67a280c6-0c74-11e6-933a-b381a5289b18.png)
![edm issue](http

[2016-04-27 21:13] leggomuhgreggo commented on #31
Looks like this also causes columns to shrink when not fluid on mobile, too.

Found [this thread on the subject](https://litmus.com/community/code/4624-fixed-gmail-app-not-respecting-100-width).

Any chance of a hotfix with the min-width style? Thanks!

[2016-04-27 21:51] leggomuhgreggo commented on #31
Looks like they same issue is happening with td width too. Even though there's a width attribute defined, gmail isn't respecting it unless min-width is also set.

Any reason not to define a `min-width` style property in every instance where width is set?

[2016-04-28 07:39] rolficak commented on #31
Gmail has been the hated email client for responsive email coders for a long-long time. We have just published an article that might be helpful.
http://edmdesigner.com/blog/tips-to-make-your-responsive-email-templates-look-good-on-gmail-or-inbox-app

Note: we don't support Gmail App, but with the mentioned techniques it should work well.
http://edmdesigner.com/compatibility

[2016-04-28 07:41] rolficak commented on #27
This is not available in the editor right now. I created a ticket in our backlog, and if others mention it it will get higher priority. Thanks for the thoughts!

[2016-04-28 07:41] #27 closed, assigned to nobody

[2016-04-28 07:42] #26 closed, assigned to nobody

[2016-04-28 07:44] rolficak commented on #28
Thanks for the catch. I have updated the template.

[2016-04-28 07:44] #28 closed, assigned to nobody

[2016-04-28 08:00] leggomuhgreggo commented on #31
@rolficak Thanks for the response!

I agree about the gmail mobile app being garbage. That said it has a pretty significant market share. What are your thoughts on adding `min-width` even if it doesn't amount to full support?

[2016-04-28 08:08] rolficak commented on #31
@ughoo Can you please react to this tip?

[2016-04-28 09:13] ughoo commented on #31
@leggomuhgreggo we apply min-width on wrappers which needed to be on 100% width, but not all the items can apply this, because if your design has fixed width elements in your design, and it applies a 100% min-width, that will ruin the desktop version.... But your question is right, sometimes, in some cases still the best way to fix width issues...

[2016-04-28 09:16] ughoo commented on #31
@leggomuhgreggo in your case, there is a better approach: put the image above in to the box of the "2016 April", so the image inside will keep the box on 100% width, so while the image keep the box on 100%, the 2016 april will align center again properly.

[2016-04-28 14:07] leggomuhgreggo commented on #31
Hey @ughoo thanks for the response. That's definitely what I did, but it doesn't seem to center the text. I'd like to clarify the min-width proposal. Meant to suggest `min-width: contextualWidthValue`. It wouldnt always be 100%; for fixed width things this would be fixed width. Can that work?

[2016-04-28 14:55] leggomuhgreggo commented on #27
Would you consider adding the ability to reduce the font size to zero, as a short term workaround?

[2016-04-28 17:01] rolficak commented on #27
I don't think that it would work in most email clients. @ughoo can answer this.

[2016-04-28 19:30] leggomuhgreggo commented on #27
Hey @rolficak and @ughoo, I looked into this more and I can actually just throw a transparent 1px x 1px image as the first element and the alt text will work.

If you guys were thinking about implementing this, this might be the preferred method. Could probably even use an empty dataURI as the img src, and the alt text could maybe be a string from an input in the default tab of the editor sidebar?

[2016-04-28 19:34] leggomuhgreggo commented on #31
So as a temporary hack, I added a 600px x 1px transparent image to all the boxes. This is obviously a little much to expect of clients every time they add a box, so I'd still advocate some testing on the min-width option to see what comes of it, but at least this stops the bleeding.

Thanks!

[2016-04-28 19:34] leggomuhgreggo commented on #31
So as a temporary hack, I added a 600px x 1px transparent image to all the boxes. This is obviously a little much to expect of clients every time they add a box, so I'd still advocate some testing on the min-width option to see what comes of it, but at least this stops the bleeding.

Thanks!

[2016-04-28 19:54] ughoo commented on #27
Hey @leggomuhgreggo to hide someting on all platforms, that should be spamy technique...lots of services will deny or reduce your reputation as a sender. Also to set text to same color as its background is a technique i recommend to avoid, because in the past these tricks were used to mislead users.....

You can reduce the font-size in the html by hand, but some of the clients will ignore or overr

[2016-04-28 20:04] ughoo commented on #31
min-width should be 100% or the width fix not works, while the min-width fix px will ok in some cases, but kills natural widths in other cases...because parent elements should behave different..

I understand your point, but i never found stable version based on this approach. We have some researches in progress with positive results so i hope the solution is coming soon!

[2016-04-28 20:51] leggomuhgreggo commented on #31
Interesting. I wonder how min-width: somePixelValue; max-width: 100% interact, where parent natural width might be an issue. I appreciate the consideration and interest in experimenting. Let me know if I can help!

[2016-05-04 09:55] danieledler opened #32 "Opening editor first time for a template gives "Uncaught Error, no language package found!""
When I first open a template for editing, the iframe doesn't load its content but halts on this error:

![image](https://cloud.githubusercontent.com/assets/7313550/15010606/3ef027cc-11ed-11e6-81e2-82717b938283.png)

When I go back and try to open the editor again, it works. This is the last call:

[code]

[2016-05-04 10:18] danieledler opened #33 ""No projectId given!!" for /json/project/updateInfo"
I'm trying to update the title for a project but I get the response

[code]

In the docs, you have required parameter field `data` of type `Project`, where the `Project` model has an `_id` field. So I tried sending the data as

[code]

For the `/json/project/createFromDefaults` route, this works, but that route also has `_id` next to `data` as required parameters in the docs.

Looking at the JS AP

[2016-05-04 11:40] agnieszkakowalska commented on #32
Hi, I also remember noticing such error twice I believe, but it was not replicable on my side unfortunately - after refreshing the page it worked fine.

[2016-05-04 11:41] agnieszkakowalska commented on #13
Hi, I am wondering if there are any chances to implement this feature?

[2016-05-04 13:44] GVSupport opened #34 "No spell check available"
A spell checker would be great, are you planning this already?

[2016-05-09 04:20] confettidc opened #35 "Add more font family selection for other language characters"
Dear Support,

Can you provide more font family selections for other language characters (e.g. Chinese) so that we can made the eDM text more beautiful?

The existing font families seems too few for us, thanks.
![2016-05-09_12-19-20](https://cloud.githubusercontent.com/assets/5524183/15103650/4cef181e-15e0-11e6-957b-44b4815db4cb.png)

[2016-05-09 12:10] danieledler commented on #32
Yes, it always work if I reload the page, which makes it hard to reproduce. It's not every time for a new template either, but it has happened several times for me, and that case should be handled by the editor by either showing some error feedback that asks the user to try again, or preferably by ensuring that window.languagePackage is defined or else define it.

[2016-05-09 13:49] gyulanemeth commented on #33
Hello,

well, these routes are weird a little bit. If you use JSONP, you should use /jsonp/project/updateInfo/:id but if you use the JSON, then you have to use /json/project/updateInfo and put a "projectId" field to the request. I know it's very ugly... It has historical reasons... :/

[2016-05-09 13:51] gyulanemeth commented on #34
Hello,

it's possible to enable the browser's spell checker. If that's enough, we can enable it soon.

[2016-05-09 13:51] gyulanemeth commented on #35
Can you recommend some font families?

[2016-05-09 13:53] gyulanemeth commented on #32
Can you give me access to an environment, where it happens frequently? That would help a lot!

[2016-05-09 13:55] gyulanemeth commented on #30
Hello,

we have some general problem with updating some state variables of certain elements. We are investigating it, hopefully we will be able to provide a solution soon.

[2016-05-09 13:56] gyulanemeth commented on #29
Hello,

yes, we realized as well, that there are some cases when it's still happening. Working on it, will fix very soon.

[2016-05-09 14:11] GVSupport commented on #34
Hi Gyulanemeth,

That's not really a suitable solution for us. Ideally we'd like to see a spell check in the WYSIWYG text editor, or as an option in the Content on the right hand side.

Thanks,
Lien

[2016-05-10 01:07] confettidc commented on #35
You may refer to below fonts, thanks.

[fonts.zip](https://github.com/EDMdesigner/editor-issues/files/256180/fonts.zip)

[2016-05-10 07:14] danieledler commented on #33
Hi!
Thanks, that works! (I tried combinations with projectId too, at least adding it in the url, but I must have missed setting it in the body.)

[2016-05-10 07:14] #33 closed, assigned to nobody

[2016-05-10 12:15] danieledler commented on #32
When it happened frequently, it was usually the first time I tried to edit a template after I logged in (i.e. after I requested a new access token). The workflow was to first createFromDefaults and then open the editor for the new template.

I can't manage to reproduce it now unfortunately, so I would suggest to track it in your code from the stack trace above to make sure that window.languagePack

[2016-05-17 06:35] confettidc opened #36 "Edit bullet point problem"
Dear Support,

We found that when using bullet points in text block, the points are not alighted properly:
![2016-05-17_14-33-13](https://cloud.githubusercontent.com/assets/5524183/15313196/55568214-1c3c-11e6-8ece-3d8d3bae9f61.png)

But the format is correct after export HTML:
![2016-05-17_14-34-19](https://cloud.githubusercontent.com/assets/5524183/15313216/754f2008-1c3c-11e6-89a7-dad40715ad05.pn

[2016-05-17 15:27] RichardMailcamp opened #37 "Client has problems with text bar"
A client of ours (working on safari, Apple) has an issue where the pop up text menu bar is constantly blocking the text and not scrolling up. Any way to fix this without having to change browser?

Thanx,

Richard

[2016-05-23 08:37] confettidc opened #38 "Problem in changing font color in text block"
Dear Support,

One of our client encountered below problem when changing font color in text block, and the font family and font size suddenly changed.

Tested browser: Chrome in Max OS X (sometime this also happens in Windows Chrome)
[2016-05-23_10-51-29.zip](https://github.com/EDMdesigner/editor-issues/files/277092/2016-05-23_10-51-29.zip)

Please help investigate, thanks.

[2016-05-23 09:13] Mailcamp opened #39 "preview 504 gateway timeout"
We get an 504 gateway timeout when we want to preview the newsletter.
Can you pleace fix this?

[2016-05-23 09:24] m33ch commented on #39
Also for me ... same error

[2016-05-23 09:37] rolficak commented on #39
It has been fixed and we're looking for the reasons. If you can help with the investigation that's really appreciated. For example if you have received any error message when using preview or similar, that would help.

[2016-05-23 09:37] #39 closed, assigned to nobody

[2016-05-23 10:08] Mailcamp opened #40 "Template/newsletter view - 504 Gateway Time-out"
Again this error on the view, can you pleace fix this?

[2016-05-23 10:23] confettidc commented on #40
We got this error too

[2016-05-23 11:20] Mailcamp commented on #40
problem is solved!

[2016-05-23 11:20] #40 closed, assigned to nobody

[2016-05-24 13:43] sines99 commented on #21
_PUSH!_

pls release the fixed version. waiting since more than one month.

thx

[2016-06-01 13:17] GVThorne opened #41 "Adding URL Link Using Microsoft Edge Is Not Working"
Hi,

Using Microsoft Edge, when clicking on the 'Link' button within the Text Editor, I am unable to click the 'Ok' button to add in my URL link. The link dialog box appears after I have selected the 'Link' button but once I have entered my URL data, clicking 'OK' does nothing.

This only happens when using Microsoft Edge and the following error message occurs within the browser console each time

[2016-06-08 14:54] gyulanemeth commented on #36
Hello,

this is happening because we change the bullet-points to tables when we generate the html, but while editing it's a valid look, because there are no tables behind. I think it's actually not fixable.

[2016-06-08 14:55] gyulanemeth commented on #37
Hello,

can you please attach some screenshots?

[2016-06-08 14:58] gyulanemeth commented on #38
Thank you for the attached video, we will try to reproduce this issue.

[2016-06-08 15:00] gyulanemeth commented on #41
Were there any more errors? If yes, can you copy them here?

[2016-06-08 15:01] gyulanemeth commented on #34
Unfortunately this kind of feature is not on our roadmap.

[2016-06-08 15:07] leggomuhgreggo commented on #36
Out of curiosity, why to you change them to tables? Do lists get some
undesirable client render?

On Wed, Jun 8, 2016 at 10:54 AM, Gyula Németh notifications@github.com
wrote:

[2016-06-08 15:16] gyulanemeth commented on #13
Hello, at the moment I'm not sure that we'll have enough time to implement this feature. Also, if we implemented a new type of the border toolbox, that would be totally different. We got many feedbacks that it's not intuitive enough.

[2016-06-08 15:18] gyulanemeth commented on #36
Yes, simple lists are not stable enough. This way we can ensure that bulletpoint lists will look nice on all clients.

[2016-06-08 16:05] leggomuhgreggo commented on #36
Understandable. I appreciate the answer. Looks like in the editor the default list styles are being overridden and dropping the indentation by setting `ul,ol { padding:0}`.

Assuming the default indentation is problematic for some reasons and it's necessary to override it in the editor styles with the counter for the ol and the `list-style: disc inside` for the ul, you could add this to recreate t

[2016-06-09 06:56] agnieszkakowalska commented on #13
OK I understand, thank you

[2016-06-09 11:12] gyulanemeth commented on #13
Are you interested about our thoughts of a new button toolbox? It would be simpler and easier to use. We can talk about it on skype some time.

[2016-06-10 08:10] GVThorne commented on #41
No, that was the only error message reported. However the error message is not displayed to the user directly but is found within the Microsoft Edge browser console as below:
![image](https://cloud.githubusercontent.com/assets/19688100/15958054/1fd7313a-2eeb-11e6-8b86-1c69fa6bdc48.png)

[2016-06-14 07:57] RichardMailcamp opened #42 "Faile to upload the JSON"
Hi,

I know this is not the right place to report this type of error, but there are no tickets dedicated to report this to.

I can’t upload a JSON to a user (user 20) on the  https://dashboard.edmdesigner.com/#templates/upload/http%3A%2F%2Frc.mailcamp.nl%2Feds1%2Fadmin%2F%20-%2020 page. Keep getting a Failed to upload the JSON error. Can you look into this?

Regards,

(I’ve added the json below)

[2016-06-14 08:07] rolficak commented on #42
Can you please add this JSON as an attachment? I suspect that Github might change it after copy-paste.

[2016-06-14 08:09] RichardMailcamp commented on #42
Ho Roland,

See att

Met vriendelijke groet,
Richard Crombie

[mc_mail_logo]
Bezoekadres
Nieuwe Hemweg 2
1013 BG Amsterdam

Tel.: +31 (0) 20 705 85 00
Support: support@mailcamp.nlmailto:support@mailcamp.nl
E-mail: richard@mailcamp.nlmailto:richard@mailcamp.nl
Web: www.mailcamp.nlhttp://www.mailcamp.nl/

Van: Roland Pokornyik [mailto:notifications@github.com]
Verzonden: Tuesday, June 14, 2016 10:07

[2016-06-14 08:10] RichardMailcamp commented on #42
Also, I’ve seem to have sent this from my acoount (richard@mailcamp.nlmailto:richard@mailcamp.nl). Please reply to Support@mailcamp.nlmailto:Support@mailcamp.nl. Sorry ☹

Met vriendelijke groet,
Richard Crombie

[mc_mail_logo]
Bezoekadres
Nieuwe Hemweg 2
1013 BG Amsterdam

Tel.: +31 (0) 20 705 85 00
Support: support@mailcamp.nlmailto:support@mailcamp.nl
E-mail: richard@mailcamp.nlmailto:richard@ma

[2016-06-14 08:40] rolficak commented on #42
Still cannot see the JSON here, so sent you an email.

Quick question:
Have you modified the JSON after exporting from EDMdesigner?
If yes, the issue is simple - you changed something that shouldn't be changed

[2016-06-14 08:42] RichardMailcamp commented on #42
No, I haven’t changed anything. I added it again, but rarred

Met vriendelijke groet,
Richard Crombie

[mc_mail_logo]
Bezoekadres
Nieuwe Hemweg 2
1013 BG Amsterdam

Tel.: +31 (0) 20 705 85 00
Support: support@mailcamp.nlmailto:support@mailcamp.nl
E-mail: richard@mailcamp.nlmailto:richard@mailcamp.nl
Web: www.mailcamp.nlhttp://www.mailcamp.nl/

Van: Roland Pokornyik [mailto:notifications@github.com

[2016-06-14 08:44] rolficak commented on #42
Send it in an email to support@edmdesigner.com please.

[2016-06-14 09:20] rolficak commented on #42
I have just uploaded the template to my user easily, after copy-pasting it to the text area in the dashboard.
The problem might be the configuration of your IEM instance / server.

[2016-06-14 09:20] #42 closed, assigned to nobody

[2016-06-14 09:22] RichardMailcamp commented on #42
Very strange, since I’ve never had that problem before.  :S

Thanx anyway, Roland

Met vriendelijke groet,
Richard Crombie

[mc_mail_logo]
Bezoekadres
Nieuwe Hemweg 2
1013 BG Amsterdam

Tel.: +31 (0) 20 705 85 00
Support: support@mailcamp.nlmailto:support@mailcamp.nl
E-mail: richard@mailcamp.nlmailto:richard@mailcamp.nl
Web: www.mailcamp.nlhttp://www.mailcamp.nl/

Van: Roland Pokornyik [mailto:not

[2016-06-14 09:27] RichardMailcamp commented on #42
After trying it again (for the 11th time) it seemed to upload it now. I’m stumped why this is possible now all of a sudden, but happy it worked anyway. Maybe the sever had a problem at the time of uploading this morning.. Oh well. Thanx again Roland

Met vriendelijke groet,
Richard Crombie

[mc_mail_logo]
Bezoekadres
Nieuwe Hemweg 2
1013 BG Amsterdam

Tel.: +31 (0) 20 705 85 00
Support: support@ma

[2016-06-17 08:04] gyulanemeth commented on #11
As I experienced it, we just have to make sure that the autosave is switched off and we have to wait for the "Save success." message after sending Save manually into the iframe.

[2016-06-20 09:44] gyulanemeth opened #43 "French localization problem"
Dear Gyula,

Hope you're well.

We identified a new issue on a radio button for french translation :
https://www.dropbox.com/s/y3yyhuizw3ctkic/Capture%20d%27%C3%A9cran%202016-06-16%2011.29.18.png?dl=0

Could you please resend us the translation tools link so we can update these strings ?

Best regards,
##

Faly M.

---

Hello Guyla,

Otherwise you can just set the translation to : On / Off Instead

[2016-06-20 09:47] falydev commented on #43
- hide-toggle-on => On
- hide-toggle-off => Off
- reorder-on-mobile-toggle => "Réorganiser sur mobile:"
- reorder-toggle-on => On
- reorder-toggle-off => Off

[2016-06-24 07:39] RichardMailcamp opened #44 "Change subject of newsletter doesnt save the first time"
Hi,

Somehow when changing the subject of the NL before sending, it doesn't save the changes that are made, but when trying a second time, it does.

Any thoughts?

Rich

[2016-06-24 08:49] gyulanemeth commented on #44
Hello, can you please attach some screenshots to help us understand what the issue is?

[2016-06-24 09:05] RichardMailcamp commented on #44
Well, there isn’t much to attach. When you’re in the send newsletter screen within Mailcamp, the change subject of newsletter doesn’t save. On the other hand, after thinking about it again (I sent this mail by request of one f my colleagues) I’m wondering if this is something that is going wrong with the communication with EDM designer or if this is a bug in our software….Hmmm

So, is the saving o

[2016-06-24 09:20] gyulanemeth commented on #43
Thank you for the info, we will add it to the next release.

[2016-06-24 09:32] confettidc opened #45 "Image won't change when upload an image with same name"
Project ID: 576ce0b4373b92c9425d5e04
Editor version: r20160219

Please find below video for the error, thanks.
[2016-06-24_17-29-00.zip](https://github.com/EDMdesigner/editor-issues/files/331539/2016-06-24_17-29-00.zip)

[2016-06-24 09:44] gyulanemeth commented on #45
I'm guessing the url of the image is the same so the browser won't try to download it again. I'm guessing that if you refresh the editor, it will show the good image. Am I correct?

[2016-06-24 10:48] confettidc commented on #45
Yes, but is that anyway to force the browser to re-download the image?

Thanks.

[2016-06-24 14:17] gyulanemeth commented on #11
Fixed in: https://github.com/EDMdesigner/editor-issues/releases/tag/r20160624

[2016-06-24 14:17] #11 closed, assigned to nobody

[2016-06-24 14:18] gyulanemeth commented on #29
Fixed in: https://github.com/EDMdesigner/editor-issues/releases/tag/r20160624

[2016-06-24 14:18] #29 closed, assigned to nobody

[2016-06-24 14:18] gyulanemeth commented on #18
Fixed in: https://github.com/EDMdesigner/editor-issues/releases/tag/r20160624

[2016-06-24 14:18] #18 closed, assigned to nobody

[2016-06-24 14:18] gyulanemeth commented on #17
Fixed in: https://github.com/EDMdesigner/editor-issues/releases/tag/r20160624

[2016-06-24 14:18] #17 closed, assigned to nobody

[2016-06-24 14:18] gyulanemeth commented on #21
Fixed in: https://github.com/EDMdesigner/editor-issues/releases/tag/r20160624

[2016-06-24 14:18] #21 closed, assigned to nobody

[2016-06-24 14:18] gyulanemeth commented on #14
Fixed in: https://github.com/EDMdesigner/editor-issues/releases/tag/r20160624

[2016-06-24 14:18] #14 closed, assigned to nobody

[2016-06-24 14:18] gyulanemeth commented on #43
Fixed in: https://github.com/EDMdesigner/editor-issues/releases/tag/r20160624

[2016-06-24 14:18] #43 closed, assigned to nobody

[2016-06-24 14:34] falydev commented on #43
Thanks

[2016-06-27 01:40] confettidc opened #46 "Messy video block behavior in version r20160624"
Dear Support,

Project ID: 560f67d116df31556a9f83c2

We encountered the messy behavior for Video block in Firefox 47, details in below video:
[2016-06-27_09-33-31.zip](https://github.com/EDMdesigner/editor-issues/files/333964/2016-06-27_09-33-31.zip)

Please check what the problem is, thanks

[2016-06-30 13:47] ughoo opened #47 "Image border bug in editor"
When user applies border on image, the width of the border is decreased with the value of the border twice. If you increase the border value a gap will appear on the both sides...

[2016-06-30 13:52] ughoo opened #48 "Image border bug in generator"
Inside the editor, the image with border keeps the size what we set with the image size bar. When we see the desktop preview the image has the original widths and heights, and applies borders around this value...which can brake the layout. Please apply the shrinked dimension to the image in case of use of borders.

[2016-06-30 14:12] #48 closed, assigned to nobody

[2016-06-30 14:14] ughoo commented on #48
i moved to the related place: https://github.com/EDMdesigner/email-html-generator-issues/issues/14

[2016-07-04 09:47] Mailcamp opened #49 "Responsive Editor does not work properly on Apple (Chrome en Safari)"
By a customer their is a problem with the responsive editor when they use it on an Apple iOS (Finder/OS version 10.6.8).

Both in Chrome (v 49.0.263.112) and Safari (v 5.1.10) when they (double) click in a text box the text edit menu is not popping up. So they can't change the text and the format of the text. Can you please look to this issue and solve this.

![da3856fed9ca408a90ba532b293f9ca3](ht

[2016-07-11 03:02] confettidc opened #50 "502 Bad Gateway returned when fetching token"
We encountered below when fetching token just now (11 Jul 11:02 HKT):
![2016-07-11_11-01-18](https://cloud.githubusercontent.com/assets/5524183/16718932/fcdada0e-4756-11e6-843e-35ead873f994.png)

Please help check, thanks.

[2016-07-19 12:31] Mailcamp opened #51 "dasboard - users of one api key not visible"
Hi,

I want to down/upload some user templates but I can't get the users of one api key.
The problem appears at all the api instances.

[2016-07-28 07:56] rolficak opened #52 "LIVE API: Color picker not working"
Windows 7  Chrome  Version 51.0.2704.103 m (64-bit)
Cannot pick color, only the input field is working.

[2016-07-29 06:43] rolficak opened #53 "Zip Export - No file extension"
I’ve uploaded my exported Zip to Mailchimp and It grabbed the HTML fine but because the exported images were just strange files it didn’t work, is there a way to export the actual images?

I’m manually changing the HTML to reference the photos properly but couldn’t afford to do it for every email.

[2016-08-19 10:37] GVSupport commented on #22
Hi there, any news on this issue?

[2016-08-19 10:39] GVSupport opened #54 "Social Element Enhancement - YouTube"
Could you please make the YouTube Icon available in the Social elements?

[2016-09-05 10:26] #53 closed, assigned to nobody

[2016-09-05 10:26] #51 closed, assigned to nobody

[2016-09-05 10:27] #36 closed, assigned to nobody

[2016-09-05 10:28] gyulanemeth opened #55 "Can't add link on IE"
email: jcbalcom@gmail.com
time: Fri Aug 26 2016 15:04:29 GMT+0000 (UTC)
user agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393
browser language: en-US
platform: Win32
details: Windows NT 10.0; Win64; x64
OS language: No information

message:

I can't add a URL link to text. When I press OK nothing happens. I have

[2016-09-19 07:40] Mailcamp commented on #55
our customer does not have this problem in explorer.
She have it in edge only.

[2016-09-26 07:13] agnieszkakowalska opened #56 "Change translation of Complex element in Chinese"
Hi, in semantic meaning, there is an ambiguity in the name of the Complex element in Chinese.
Could you please change "已存混合元素" to "已存元素"?
![screenshot 3](https://cloud.githubusercontent.com/assets/17157918/18825618/9f78b6e2-83c9-11e6-9ba8-1c5fb9b0c251.png)

[2016-09-26 14:32] #50 closed, assigned to nobody

[2016-09-26 14:33] gyulanemeth commented on #56
Thank you for reporting it. We will do it with some other fixes.

[2016-10-04 09:55] RichardMailcamp opened #57 "Multicolumn pixel count"
There is  a serious issue with the multicolum, which is causing problems. Pixel count and percentace is adding up to more than 100% or 600 px. Because of this, emails are not presented in the intended way.

![multi 1](https://cloud.githubusercontent.com/assets/17139637/19069913/41a45f1a-8a29-11e6-853e-bcf65ffb8a43.JPG)
![multi2](https://cloud.githubusercontent.com/assets/17139637/19069914/41a775e2

[2016-10-04 14:41] rolficak commented on #57
Can you please provide reproduction steps? Since we never saw anything like
this.
ᐧ

Roland Pokornyik
CEO, Co-founder @ EDMdesigner.com

+36-70-608-4433

_Schedule http://www.meetme.so/Roland-EDMdesigner a Skype chat with me!_

On Tue, Oct 4, 2016 at 11:55 AM, RichardMailcamp notifications@github.com
wrote:

[2016-10-06 10:04] GVSupport opened #58 "54834S: Issue with email templates not sending in the correct font"
We're having an issue with one of our client's email templates. The emails that are being sent have the incorrect font for some of the elements. I've had a look at the source code for the email, and the issue is that the font-family is being set to %26quot; on some of the HTML elements.

I suspect that there may be an issue with the HTML generation in the designer code. Is this something you can t

[2016-10-06 16:23] leggomuhgreggo opened #59 "Proposal: Add "margin: auto" to "body" in the editor iframe"
Kind of a minor thing, and there are workarounds, but the default width of the iframe appears to be `1200px`, which exceeds the width of the interface of `995px`. Right now I'm containing the iframe with, using styles, which is fine, but it occurs to me that adding `margin-left: auto; margin-right: auto;` to the `body` of the editor `iframe` would be sensible, so that the interface is centered if

[2016-10-06 16:26] GVSupport opened #60 "55084S: Mailshot not rendering correclty in Outlook 2007"
One of our clients is seeing a strange rendering issue in outlook 2007 which isn't present in newer versions or other mail clients.

The correctly rendering design looks like this;

![pasted image at 2016_10_06 04_58 pm](https://cloud.githubusercontent.com/assets/18616807/19160933/be43ca8a-8be9-11e6-90ea-d19e34cff036.png)

the outlook 2007 version looks like this;

![pasted image at 2016_10_06 04_

[2016-10-12 01:37] leggomuhgreggo commented on #34
Hey, I came here because some of my users are asking about spellcheck. I think browser spellcheck would be perfectly fine. @gyulanemeth is it still possible to get that wired up without too much difficulty? Perhaps an admin toggle? Thanks!

[2016-10-12 17:10] leggomuhgreggo commented on #34
Also, is there a formal road map somewhere. Would love to keep up with it. Thanks

[2016-10-12 17:33] leggomuhgreggo opened #61 "Feature Req: Editable Default Line Height Settings"
The current default is ~1em, which means that anytime someone's starting a new template, it's an adjustment that has to be made. It'd be great to be able to define that globally somewhere. Thanks!

[2016-10-18 07:54] rolficak commented on #58
@GVSupport Can you please send us the project id, JSON and the exported HTML code? Than @stubendek will look into this.

Please next time when you open such ticket, also include the above information, since without that we cannot investigate.

[2016-10-18 07:56] rolficak commented on #60
@GVSupport Please aslo send us the projectId, JSON and exported HTML. Than @ughoo will look into this.

[2016-10-18 08:29] GVSupport commented on #58
The project Id is 57eb91f5b77c4cba28eceb65. I will email the HTML source.

[2016-10-18 09:23] stubendek commented on #58
To reproduce and solve the issue we need rather the mail JSON.

[2016-10-18 14:08] stubendek commented on #58
I could almost reproduce the issue, got: _`font-family: &quot;trebuchet ms&quot;`_ as an inline style attribute item of a paragraph.
Searched the source JSON and found the identical paragraph with the incorrect styling, so the resulted paragraph code is from the ckeditor or other html editor tool.
a) I think the editor should format quoted font types with single quots
BUT
b) I will also get the ge

[2016-10-20 08:11] GVSupport commented on #58
Thanks for looking into the issue. Are you able to give an estimate as to when a release with these changes included will be available?

[2016-10-20 11:32] gyulanemeth commented on #60
[emailSource - 54834S.txt](https://github.com/EDMdesigner/editor-issues/files/541548/emailSource.-.54834S.txt)

I've got this html in email.

[2016-10-26 11:41] stubendek commented on #58
The changes will be included tomorrow. Thank you for your patience.

[2016-10-27 08:08] ughoo commented on #60
the attached source is a totally different template...we need the original which is on the screenshots.

[2016-10-27 08:16] ughoo commented on #60
@GVsupport please attach the related html to start the investigation. Thanks.

[2016-11-02 14:17] agnieszkakowalska opened #62 "Multicolumn less than 10%"
Some of our customers need to create columns which could be less than 10 % of the full size of the column element. Now it is impossible.

![multicolumn](https://cloud.githubusercontent.com/assets/17157918/19932132/312df45a-a10f-11e6-8aff-161c9c7271a3.png)

Can you make it possible? There have been already many questions from our customers regarding that case.

[2016-11-03 08:52] rolficak commented on #62
It's possible now as well. They only need to add an additional multicolumn
to the given column.

It's possible to embed multiple multi-column elements into each other.

Best,
ᐧ

Roland Pokornyik
CEO, Co-founder @ EDMdesigner.com

+36-70-608-4433

_Schedule http://www.meetme.so/Roland-EDMdesigner a Skype chat with me!_

On Wed, Nov 2, 2016 at 3:17 PM, agnieszkakowalska notifications@github.com
wrot

[2016-11-03 09:07] agnieszkakowalska commented on #62
Thank you Roland! I've passed this info to the customer ;)

[2016-11-03 09:07] #62 closed, assigned to nobody

[2016-11-08 10:40] gyulanemeth opened #63 "Alt text bug"
Hi Gyula,

We discovered a bug in EDMdesigner.
Is a customer puts an ALT tekst llike; Castelijn & Beerens Bravo 15,6" the editor doesn’t show the element and even crashes the browser. Please check attachment.
So if people use " for pointing out inches it goes wrong.

Please let me know if thiscan be fixed bij addslashes or whatever.

Voor een snellere afhandeling van support zaken verwijs ik graag

[2016-11-09 14:33] vcampitelli opened #64 "PayloadTooLargeError when generating HTML"
Hi there!

I'm having the following problem with the _project/generate_ endpoint.

[code]

Some information:
_Instance: API_MEDIAPOST
User: maxpress
Project ID: 58232997b80001015f9819a0_

Can you help me? :smile:

[2016-11-09 14:36] gyulanemeth commented on #64
Hello,

I guess it's a huge template... I can also see that you send the body of the request urlencoded. Can you try to send it as application/json?

[2016-11-09 17:04] vcampitelli commented on #64
Yeah, It's kind of huge :flushed:

I can, but the _project/generate_ endpoint is a simple GET request without body, right?

Att.,

[2016-11-16 12:27] agnieszkakowalska opened #65 "Font missing"
When I add text element I can choose from 8 fonts. When I go to properties of this text element there are only 7 fonts. "Courier New" is missing in the properties.

https://chruu.tinytake.com/sf/MTExNzYwNF80NDIzOTAx

[2016-11-16 12:54] rolficak commented on #65
@stubendek Can you please check it?

[2016-11-16 12:57] stubendek commented on #65
Checking.

[2016-12-08 13:22] agnieszkakowalska commented on #65
Hi, what is the status of this issue?

[2016-12-20 07:13] agnieszkakowalska commented on #65
Hello, have you been able to check it?

[2016-12-20 07:20] agnieszkakowalska commented on #56
Hi, please let me know what is the status of this request.

[2016-12-20 07:50] agnieszkakowalska opened #66 "Hide on Mobile - increase resolution"
Guys,

The button "Hide on Mobile" is working for devices with resolution under 600x400px. Since most of the phones already have bigger screens then maybe this condition should be changed?

Please also let me know if Gmail "hack" is already released? You wrote that "we are working on a hack to fix Gmail app as well (it's still in research/dev phase, so there's no release that for this yet)" https:

[2016-12-20 12:53] falydev commented on #43
hide-desktop-toggle-on => On
hide-desktop-toggle-off => Off

[2016-12-20 12:54] falydev commented on #43
@gyulanemeth Please reopen this ticket, we have 2 localization issue. Thanks.

[2016-12-20 12:57] falydev commented on #43
fullwidth-on-mobile-toggle-on => On
fullwidth-on-mobile-toggle-off => Off

[2016-12-29 10:38] RichardMailcamp opened #67 "{"errorMessage":"2016-12-29T10:34:08.451Z 51f5e1f3-cdb2-11e6-bd13-b900ba731a80 Task timed out after 4.00 seconds"}"
Hi,
One of our clients is experiencing issues with some of their newsletters (with some of their NL working fine) of not being able to show a preview or to send preview. Please help.

Thanx,

Richard

{"errorMessage":"2016-12-29T10:34:08.451Z 51f5e1f3-cdb2-11e6-bd13-b900ba731a80 Task timed out after 4.00 seconds"}

[2017-01-02 08:07] gyulanemeth commented on #67
➤ gyula commented:
Hello Richard,

it happens because of a ReDoS bug in our generator. Please attach the JSON, so we can start the investigation.

[2017-01-04 12:47] sines99 opened #68 "Code element dont work"
Hi there,

I'm trying to use the code element, but nothing happens.
Do I have to setup anything else in the dashboard?

Check video attached.

Best Regards
Sergei
[code-element.zip](https://github.com/EDMdesigner/editor-issues/files/684626/code-element.zip)

[2017-01-05 11:59] GVSupport commented on #58
I've updated the client's API to r2016114 using the EDM dashboard but I'm still seeing issues with the font rendering. Looking at the HTML source of the email preview, it looks like the inline styles still aren't right, e.g. one paragraph has `<span style="font-family: trebuchet ms font-size;">`. Are the changes definitely included in this release?

[2017-01-05 12:54] ughoo commented on #58
Hi GVsupport, please help us understand, where you checked the preview? Did you use the app, or the dashboard? Also please send the latest version of json and html, because we are not able to reproduce this issue.

[2017-01-05 13:53] GVSupport commented on #58
Sorry, I didn't make myself clear. The preview in the iframe looks OK, but when I send the template as an email via our system, the fonts are still messed up. I will email you the JSON, but I've had a quick look and don't see any obvious issues. I suspect that we probably need to make a change to the way we process the data on our end to account for your changes.

[2017-01-05 14:01] ughoo commented on #58
Hi,

thanks for the information. Let me know, if the bug comes up.

Regards,
Greg
ᐧ

On Thu, Jan 5, 2017 at 2:53 PM, GVSupport <notifications@github.com> wrote:

--
Gergely Mecs
--------------------------------
Chief Frontend Developer @ EDMdesigner.com

[2017-01-05 17:34] GVSupport commented on #58
I've sent you through the html. It looks like the problem's here rather than in the JSON,

[2017-01-06 14:45] gyulanemeth commented on #58
The mentioned files:

[htmlSource.txt](https://github.com/EDMdesigner/editor-issues/files/690135/htmlSource.txt)

[template.json.txt](https://github.com/EDMdesigner/editor-issues/files/690136/template.json.txt)

[2017-01-10 09:54] agnieszkakowalska commented on #66
Hi guys, can you please answer my questions? :)

[2017-01-10 10:37] rolficak commented on #66
The hide on mobile is not supported on older Gmail Apps, only on updated
versions.
We cannot do anything about it.

The Gmail fix was already released 2 months ago, so in new Gmail app
versions the hide on mobile works.
http://edmdesigner.com/compatibility

The true resolution of phones is still 320 px with a retina approach.
The higher the listed resolution is, the more pixels they display in tha

[2017-01-11 09:14] agnieszkakowalska commented on #66
Hi Roland, I was not aware that there is a new version of editor. Is there any changelog?
Does the gmail hack require updating the editor or not?

[2017-01-11 11:41] agnieszkakowalska commented on #66
Can you also let me know what are the exact conditions on which editor decides if message is opening on a desktop or on a mobile device? Because it's not fully clear for my customer. He tested it and saw that the button doesn't work anywhere except new gmail application.

[2017-01-11 12:23] rolficak commented on #66
Hi Agnieszka,

The generator is updated automatically. That's part of our service.
You don't need to change editor version to make use of the latest generator
release.

Template reorders to one column is the device width is below 600px.
The same width applies for the hide on mobile to work.

ᐧ

Roland Pokornyik
CEO, Co-founder @ EDMdesigner.com

+36-70-608-4433

*Schedule <http://www.meetme.so/Rol

[2017-01-17 10:08] agnieszkakowalska commented on #66
Hi Roland, Thank you for your answer. Can I please ask you to answer client's question below?

"We have Samsung Galaxy GT-I9515 with screen resolution 1920×1080, 441 ppi. We opened message in the last version of Gmail application. When we hold the phone in vertical position it shows us mobile version. When we hold the phone in horizontal position it shows us desktop version. Why?"

![obraz](https:

[2017-01-17 12:05] ughoo commented on #66
Hi Agneszka,

"1920×1080, 441 ppi" is the hardware resolution of the device, but based on the software and unique vendor drivers all devices have software based resolutions. Meta viewport initial-scale: 1.0 triggers an initial state on mobile;

As you can see the portrait screenshot, that is below 600px, so it shows mobile version, while the landspace will be higher than the 600px, so its shows de

[2017-01-17 14:06] agnieszkakowalska commented on #66
Is there a chance to know software resolution of some definite application for us? Or we never know it until we test it?

[2017-01-17 14:25] ughoo commented on #66
There is no global stats for that, and some vendors make unique customizations (all Samsung Note) which can change the initial sizes....so that make it much more difficult to know without testing.

Some sites like this: http://viewportsizes.com/ try to collect the native resolution values, but not the smallest initial ones..

[2017-01-25 13:50] RichardMailcamp commented on #67
Hi

There you go. (same issue apparently, 23 days later). Thanx for the help in advance

[58887c4931abbe7242c4c43c.docx](https://github.com/EDMdesigner/editor-issues/files/729835/58887c4931abbe7242c4c43c.docx)

[2017-01-25 13:50] #67 closed, assigned to nobody

[2017-01-25 14:20] RichardMailcamp commented on #67
Hi.

Issue resolved. Client pasted HTML (text) from her site which caused the crash. Suddenly i remembered a similar issue....

Thanx anyway :)

[2017-01-25 17:29] smiska commented on #58
Hi GVSupport,

The generator was updated so if you try to re-create your project you should see the correct font rendering.
Please check if that is the case, and if I can close the ticket!

Thanks!

[2017-01-27 11:58] agnieszkakowalska commented on #65
@ughoo any news here?

[2017-01-31 15:59] leggomuhgreggo opened #69 "Copying and Pasting Issue [Enhancement]"
**Editor Version:** r20170111

**Issue:** When cutting and pasting content within the EDM builder (not from a document into EDM, but from one text block to another), text-line height is removed. This happened the other day and today.

**Suggested Enhancement:** Thinking about it, what I'm sure is happening is that text formatting is being defined in attributes on a parent elements. Which makes ple

[2017-02-13 09:32] smiska opened #70 "Update language files (slovenian + french)"
1, A partner reported two fixed errors in the Slovenian translation.
2, There is an open pull request for french localization files in the API-Client repository.

[2017-02-13 21:34] leggomuhgreggo opened #71 "Text in editor hidden. Shows in HTML output. Issue with text sanitization?"
**Editor Version:** r20170111

**Issue:**
One of my colleagues was editing an email and said that the HTML was not reflecting the editor content--that there was an extra bold list item in the preview and test emails that did not show in the editor.

I thought it was an issue with how I was saving, but it turns out that it was getting `font-size: 0;` because of some unusual HTML structures. The att

[2017-02-16 11:42] #58 closed, assigned to ughoo, stubendek

[2017-03-02 16:56] balintsoos commented on #34
CKEditor Spell checker documentation: http://docs.ckeditor.com/#!/guide/dev_spellcheck

[2017-03-03 15:40] GVSupport commented on #34
@balintsoos looks interesting, is this something you'll be adding to the editor soon?

[2017-03-06 12:37] #70 closed, assigned to balintsoos, smiska

[2017-03-06 12:37] #34 closed, assigned to balintsoos

[2017-03-07 16:04] RichardMailcamp opened #72 "Unable to upload template"
Hi,

When uploading templates there is a serious issue.

https://mailcamp.eu/demoaccount/admin/index.php?Page=Addons&Addon=edmdesigner&Action=ManageTemplates

template not showing at all, nor is it editable. Please help

LOGIN : EDM
PASS :   EDM

[2017-03-13 12:05] sines99 commented on #68
Hi,

it would be nice to get a feedback. Need the code-element for costum <style> . Specially for define a web-font. In know webfonts dont work well, but alot of the inboxes can handle it and some big customers would like to use there own webfonts with a regular fallback font.

Best
Sergei

[2017-03-13 12:10] sines99 commented on #46
I have the same behavior, since about 1 year.

Win10, Chrome.

[2017-03-14 13:19] RichardMailcamp opened #73 "Could you please delete un-deletable images from reset user account"
Hi,

www-ligthartnieuwsbrief-nl/User 13 has some old images from a previous account which we are unable to delete. Images missing. Could you please assist? (everything BEFORE 17th of january)

[2017-03-17 08:54] GVSupport opened #74 "Social Share element uses placeholder text when URL option set to "campaign's""
One of our customers noticed that when they insert a 'Social Share' element to a design and set the URL to "campaign's", the social links are using the placeholders "##textToShare##" and "##linkToShare##" (the full links are below).

![image](https://cloud.githubusercontent.com/assets/18616807/24035633/587a4f88-0aee-11e7-844f-c0ba8ddb799f.png)

I assume there is some configuration needed on our en

[2017-03-17 09:03] RichardMailcamp opened #75 "Bottom of letters not displaying properly on fontsize 13. Problem solved with size 14"
![edm](https://cloud.githubusercontent.com/assets/17139637/24036255/0ce16614-0af9-11e7-9917-85701b3b04a5.PNG)
Hi,

A client encountered the problem that bottom of "j's" and "g's" for instance are not displaying correctly. Changed line height, no avail. In the end found the solution by changing font size from 13 to 14, but it should not have to be a problem.

[2017-03-21 15:19] smiska opened #76 "Firefox image height 0px in editor version r20170111 and r20170303 on Windows"
Helpful stackoverflow post: http://stackoverflow.com/questions/20221852/firefox-gives-wrong-values-for-image-width-and-height

[2017-03-21 15:22] smiska commented on #76
![unnamed](https://cloud.githubusercontent.com/assets/16736043/24154856/99dfcf7c-0e52-11e7-93a0-0fabad69a4d3.png)

[2017-03-21 18:20] leggomuhgreggo commented on #76
The image is also left aligned with "Fluid on mobile" turn on; so, that might also be a factor.

[2017-03-27 11:15] smiska commented on #75
Hi,

Could you share more information for the reproduction steps? I had no problems with 13px fonts.
Could you enclose the template name, so we can take a look? Operating System and Web browser information is also helpful. Thank you!

[2017-04-04 08:42] arnolduis opened #77 "Issue viewing or editing imported templates"
Andrea Ganier: Issue viewing or editing imported templates

We have used the dashboard (Users Per API Key) interface to upload JSON files.  These files have template IDs.

However, when we attempt to load the templates in our implementation of the editor we get the following message: Message: Document json is not found on s3 nor database.

The JSON was generated using the access we have to the alp

[2017-04-07 11:56] smiska opened #78 "Images are not uploading or saving to media libary"
user agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36
browser language: en-US
platform: Win32
details: Windows NT 10.0; Win64; x64
OS language: No information

[2017-04-07 21:08] smiska commented on #78
Sometimes with a single upload the image is added twice. There are images below the 2MB threshold, that can't be uploaded. No reproduction step was identified yet. Also happens on Linux with Firefox/Chrome.

[2017-04-13 15:35] leggomuhgreggo commented on #76
Any update here? Thanks!

[2017-04-20 10:09] agnieszkakowalska opened #79 "Adding link support for image group"
If you use "image group" in Editor, there is no ability to make images clickable in the settings (adding links). It is possible only if you use "image". Can you please add the ability to make images clickable if user uses "image group" too?

[2017-04-20 15:34] smiska commented on #79
Hi Agnieszka,

Thanks for bringing up this improvement idea! This functionality is not planned to be implemented in the near feature, but really sounds like something that is worth to be taken into consideration later. In case this has special added value for you, please help us better understand the way you would use it. At the moment you can use the multi-column element with separate images to h

[2017-04-21 11:38] agnieszkakowalska commented on #79
Thanks for the answer! Sure customers can use the multi-column element with separate images. But it is just more complicated for them :) If you can add this functionality in the future that would be great :)

[2017-04-23 18:46] #56 closed, assigned to nobody

[2017-04-24 07:37] #77 closed, assigned to arnolduis, smiska

[2017-04-28 14:13] smiska commented on #78
Steps:
- setup local nginx
- use staging config
- debug

[2017-04-28 18:50] smiska commented on #56
This translation is available from the editor version r20170419.

[2017-05-03 04:06] rkarina94 opened #80 "Upload route configuration?"
Hi all,

I'm trying to upload a few templates to the templater user so that every normal user has access to them. Currently, they've been made by a normal user (8903) and so I cannot duplicate the templates if I am connected as another user.

I've exported the templates and uploaded them using the dashboard to the templater user, however, all the images have been removed. I am aware there are uplo

[2017-05-08 08:28] smiska commented on #74
Basically, what you would need to do here is a [string replace](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace), in which you switch ##textToShare## and ##linkToShare## to something meaningful. It may also help to take a look at our examples on implementing similar elements, like [Custom Strings](https://github.com/EDMdesigner/EDMDesigner-API-Exampl

[2017-05-15 14:30] #74 closed, assigned to smiska

[2017-05-17 13:26] #78 closed, assigned to puinenveturi, smiska

[2017-05-23 08:02] agnieszkakowalska opened #81 "Hide on Mobile doesn't work in pt-BR language"
Can you please fix this? Our client can't use this feature.

![obraz](https://cloud.githubusercontent.com/assets/17157918/26344105/bf9e0c10-3f9e-11e7-8318-f2d61755421e.png)

[2017-05-23 08:53] smiska commented on #81
Hi Agnieszka,

The buttons are not working because the current labels are too long. These labels are "Ligado" and "Desligado". Does your client have a desired translation? We can provide a quicker fix if you could provide the labels.
If I'm not mistaken, this is "pt" localization not "pt-Br". For pt-Br the labels are working and they are "Sim" and "Não". Would it be a proper translation here as we

[2017-05-23 09:16] agnieszkakowalska commented on #81
You're right, I was referring to pt localization. I've just checked and I can't see any pt-Br language in the pack. After listing editor.availableLanguages I get: `["de", "en", "hu", "it", "nl", "ro", "ru", "fr", "pl", "ru", "zh-HANS", "pt", "es", "cs"]` Can you tell me how to get pt-br localization?

[2017-05-23 09:19] agnieszkakowalska commented on #81
Thanks, let me consult it with a client.

[2017-05-23 10:12] agnieszkakowalska commented on #81
Thank you, we'll just change from pt to pt-br on our side.

[2017-05-23 10:56] GVSupport opened #82 "Free HTML block?"
Does your roadmap have plans to include a free HTML block to allow users to add their own custom elements?

We have one customer who must be able to add subscript and superscript text, but there is no way to do this in the current editor. A free HTML block would solve this issue.

[2017-05-23 10:59] smiska commented on #81
So, you found the pt-br option? The language update won't be necessary then? Please tell me if you need assistance of any kind.

[2017-05-23 11:29] agnieszkakowalska commented on #81
Yes, I have it. Anyway language update would be nice because pt version doesn't work correctly right now, however you don't need to rush. Thank you for your help.

[2017-05-23 16:54] smiska commented on #81
Just to be clear, by the fixing the 'pt' version you mean to fix the mobile settings toolbox as seen in the screenshot you provided. Or are there other updates necessary? I'm not sure if you confirmed, are the "Sim" and "Não" translations correct for the update? Thanks for the help.

[2017-05-24 06:46] agnieszkakowalska commented on #81
We switched to pt-br instead of pt so everything is fine on our side. You can shorten the pt translation so they are displayed correctly but I am not sure what will be the best translation here. Thanks.

[2017-05-24 12:46] smiska commented on #82
Hi,
Thanks for the feature suggestion. It's not on our roadmap yet, but I'll bring it up on the meeting where we discuss the future updates. I'll update you, how it turns out. However I know that superscripts and subscripts are somewhat problematic in email, I really hope that we can still introduce this feature in the near future.

[2017-05-25 07:49] agnieszkakowalska commented on #65
Hi, can you please let me know what is the status of this issue?

[2017-05-26 12:48] smiska commented on #81
Hi, I can only continue with the update of the localization labels, if you provide me translations that are conventional and widely used among native users and approved as a correct translation. Please if it isn't much trouble ask your users what labels should I implement. Thanks.

[2017-05-30 07:40] smiska commented on #65
Hi,
We investigated the requirements of this development and found it feasible. According to our current roadmap, we estimate to be able to develop the feature for custom fonts in the end of July. Is that right for you? I'm sorry for the lengthiness of the process.

[2017-05-30 08:53] agnieszkakowalska commented on #65
Thank you!

[2017-05-30 08:55] agnieszkakowalska opened #83 "Designer "jumps" when user starts to edit large text."
Problem noticed on Chrome 58.0.3029.110 (64-bit) in resolution 1366x768.

I added large text box between several other elements. When focus was set on element other then big text I scrolled the designer to a position where the text covered whole designer space. Then I double clicked the text to get a focus and edit it. Designer displayed the editor toolbar over the text so it had to scroll up - fr

[2017-05-31 02:49] confettidc opened #84 "Simplified Chinese language pack problem"
Dear Support,

When we tried to use Simplified Chinese language pack (zh) for editor interface, EDMdesigner prompt errors as below:
![default](https://cloud.githubusercontent.com/assets/5524183/26613715/b62bab3c-45ee-11e7-8180-58f9cf7a630f.png)

Please help check what the problem is, thanks.

[2017-05-31 16:54] smiska commented on #83
Thanks for reporting the issue and the provided environment info. This phenomenon happens because of some sort of default settings of the WYSIWYG editor we use. Is this a problem that you often encounter during your daily production?

[2017-06-01 06:19] agnieszkakowalska commented on #83
Yes, unfortunately. We already received reports from couple of our most important clients that work with large blocks of text and for them that is a constant problem.

[2017-06-01 13:14] smiska commented on #84
Hi, thanks for contacting us with this issue.

It seems that you are referring to the language pack with incorrect addresses. The correct addresses for this editor version would be the following:
[https://api-static.edmdesigner.com/r20160624/i18n/langPack_zh-HANS.js](https://api-static.edmdesigner.com/r20160624/i18n/langPack_zh-HANS.js), [https://api-static.edmdesigner.com/r20160624/i18n/l10n_zh-H

[2017-06-02 01:18] #84 closed, assigned to nobody

[2017-06-05 11:53] GVSupport opened #85 "White line visible in Outlook 2016"
When using a multicolumn or text+image element in a box, one or more white lines are visible in Outlook 2016. Trying a multitide of spacing, padding, font size options resulted in the same issue.
Please advise.

![pasted image at 2017_06_05 12_33 pm](https://cloud.githubusercontent.com/assets/18616807/26782949/bb0f830a-49ed-11e7-9263-9ee7a87649e9.png)

[2017-06-06 16:40] SaqibHussain opened #86 "Link is rendered incorrectly after saving template"
If an image is given the following URL:  www.springcapitalpartners.com/Our-Funds?signedin=true#/Polen-Capital-Focus-US-Growth-Fund

When the HTML is rendered, this link has been changed to http://www.springcapitalpartners.com/Our-Funds?signedin=true%23%2FPolen-Capital-Focus-US-Growth-Fund#

It looks like the #/ is being URL encoded because it appears after the ?

By our understanding, using a frag

[2017-06-07 13:14] smiska commented on #86
Hi @SaqibHussain,
You are right, the generated HTML gets sanitized and the second example is rendered for the image.
We are working on resolving this this issue. In case you use our editor through API integration it is possible to generate the template [without sanitizing](http://apidocs.edmdesigner.com/#project-generate-without-sanitizing). This will not escape the special characters.

[2017-06-07 13:40] SaqibHussain commented on #86
Hi @smiska
Thanks for your response.
We do go through your API to generate the HTML so this might be a temporary workaround. If possible, could you provide some additional information or point me towards some documentation on what your sanitisation process covers? We're reluctant to disable this functionality completely in case some of our customers rely on it.

[2017-06-07 14:18] smiska commented on #85
Thanks @GVSupport  for the report, can I ask you to please provide a projectID so I can take a look at the template?

[2017-06-07 15:42] GVSupport commented on #85
Hi

I am assuming this is the ID you are looking for:

Template/DragAndDropDesigner?Id=538

Regards
_____________________________________________________

Daryl Collis

Esteiro Business Solutions

Authors of Gold-Vision

www.gold-vision.com<http://www.gold-vision.com/?utm_source=Signature&utm_medium=Email&utm_campaign=Homepage>

[Linkedin]<https://www.linkedin.com/company/esteiro-business-solution

[2017-06-08 12:38] Silassiai commented on #85
We see this often.
See attached json example.

[5922f9219ed2cb6c6e1bb68d.txt](https://github.com/EDMdesigner/editor-issues/files/1060973/5922f9219ed2cb6c6e1bb68d.txt)

[2017-06-09 08:39] GVSupport commented on #85
@smiska please let us know if you have an update? All mailshots using multicolumn elements with a background colour are showing these lines in Outlook 2016.

[2017-06-09 12:45] smiska commented on #85
Hi @GVSupport , @Silassiai ,

Sorry for the delayed response. I ran [a test](https://litmus.com/checklist/emails/public/814f6de) on the provided json, the problem doesn't seem to come up in that.

As per the issue in the other template:
The editor handles relative sizes as percentages. These pixel differences (the white lines) are usually due to rounding. You can avoid rounding to cause issues, if

[2017-06-09 13:03] Silassiai commented on #85
@smiska sorry the problem appears in outlook 365, did you tried that one as wel?
see example below (only the white lines, they grey ones i created myself)

![screenshot_30](https://user-images.githubusercontent.com/18419961/26976664-1d6ca282-4d25-11e7-8525-0af8b48a6f25.png)

[2017-06-09 13:49] GVSupport commented on #85
Hi @smiska, thanks for getting back to us.

In the same template, we have attempted to get rid of the line by changing the box background and by adding an image with the correct dimensions. Unfortunately, this has not solved our problem as the white lines still appear. Could you please advise?

Thanks

[2017-06-09 15:20] smiska commented on #85
Hi,

In the [test I created](https://litmus.com/checklist/emails/public/814f6de#office365) there are no additional white lines for office365 either. But you can wrap the TEXT component and the BUTTON inside the MULTI-COLs into a BOX elements and color those BOXes. That's what you tried with no luck?

[2017-06-09 16:18] GVSupport commented on #85
Hi @smiska ,

I have tried to things:
Box with background colour > Multicolumn > Text & Image
Box with background colour > Multicolumn > Boxes with background colour > Text & Image

The lines still appear.

![pasted image at 2017_06_09 05_16 pm](https://user-images.githubusercontent.com/18616807/26984480-777b5360-4d37-11e7-86d5-100f0d361937.png)

[2017-06-12 07:19] Silassiai commented on #85
Hi @smiska ,

Yess i tried that without any results. I tested it on outlook 365 fresh installation without changing any settings. I see you tested it in the 365 webversion, but the problem appears in the 365 desktop application.

![screenshot_31](https://user-images.githubusercontent.com/18419961/27022866-31a1898e-4f50-11e7-91b5-588ef4b78950.png)

[2017-06-12 08:46] smiska commented on #85
Hi,
@Silassiai , I can't spot white lines in the screenshots you provided, does it have a different issue than that, which needs fixing?
@GVSupport , can you please share the projectId for the project in our system based my description earlier or provide me a unique title for the project, which I can search for in the database? Let me see if I can come up with a solution if I upload the template t

[2017-06-12 10:53] Silassiai commented on #85
@smiska you have to look at the screenshot i sended 3 days ago ^, the last screenshot is to show you the fix i did that you asked me to do (that did not work)

please test in outloook 365 desktop version and fix the problem

[2017-06-12 11:05] GVSupport commented on #85
Hi @smiska,

the ProjectID is: 59269fb49ed2cb6c6e1dedf8

hope this helps.
Thanks

[2017-06-12 11:38] GVSupport commented on #82
Hi @smiska we saw the code block option and have applied it to one instance. How is this supposed to work? http://apidocs.edmdesigner.com/#code-element-handling - could this be used to allow our end users to enter their own code?

[2017-06-13 13:25] GVSupport commented on #85
Hi @smiska, is there any news regarding this? We are seeing these lines appear more and more often.
Thanks

[2017-06-13 13:38] Silassiai commented on #85
same here... Can you please come with a fix?

[2017-06-14 10:50] smiska commented on #86
Hi @SaqibHussain
I'll ask my senior colleagues and my supervisor about what's covered in our sanitization process and update you on this, but right now it's a bit difficult to discuss it with them because of  our work schedule. I expect to be able to provide a more detailed response next week.

[2017-06-14 14:03] smiska commented on #85
Hi @GVSupport, @Silassiai
I'm examining the templates in question, I'll get back to you as soon as I can figure something out.
Tomorrow the latest.

[2017-06-15 14:58] #57 closed, assigned to nobody

[2017-06-16 09:01] GVSupport commented on #85
Hi @smiska , any news about this please?

[2017-06-16 12:32] smiska commented on #85
Hi,
Sorry for getting back to you later then promised. Yesterday I had our HTML expert look over the
the templates.

From our discussions and the testings, two thing seems clear:
- the fix I suggested worked in all of our tests, in the case of: MULTICOL > BOX (where the color is applied) > one IMAGE element in one column, one TEXT element in the other one. Testing out the template Silassiai provid

[2017-06-16 15:32] GVSupport commented on #85
Hi,

I have tried again to apply the fix but no luck. Are you available for a screencast on Monday?

Thanks

[2017-06-19 07:15] smiska commented on #85
Hi,
I think it can be arranged. What kind of software should I install before that?

[2017-06-19 07:40] Silassiai commented on #85
same here, can we have a teamviewer session?

[2017-06-19 08:28] GVSupport commented on #85
@smiska could you please let me know your email address?

[2017-06-19 10:21] smiska commented on #85
Hi,
My email address is mihaly@edmdesigner.com . I expect that you're going to invite me to a meeting presentation and share your screen to walk me through the reproduction steps and to see your environment. I'll record the screencast to analyze with our experts. I hope this is what you have in mind too. I'll wait for your emails. Thanks.

[2017-06-21 15:25] smiska commented on #86
Hi @SaqibHussain
Unfortunately we do not have a documentation on the sanitization, but it is only necessary if you (or your customers) would use for publishing web version. In that case configuring a third-party sanitize service like [Google Caja](https://github.com/google/caja) or [XSS](https://www.npmjs.com/package/xss) may be a good option to have full control on the sanitization process.

[2017-06-21 16:25] SaqibHussain commented on #86
@smiska okay, thank you for your reply.

Another question, since you have identified this as an issue, do you have any indication of when a fix can be released? Even if you are just able to provide an indication of the priority of this item for you, it will let us better understand whether we need to look into making a code change ourselves or waiting on a fix from EDM?

[2017-06-22 14:46] smiska commented on #85
@Silassiai , @GVSupport fortunately there seems to be an easy fix for the white line problem in Outlook 2016, Windows 10 Mail and in case there are other Outlook involved in this for those as well.
In the part of the template, where the line appears under text elements, and doesn't disappear regardless of coloring the BOX elements behind it, the fix is to reduce the font-size compared to the corre

[2017-06-23 08:38] Silassiai commented on #85
Like this? Did not the job!
[image](https://user-images.githubusercontent.com/18419961/27473601-04ad4446-5800-11e7-9364-0b3f2018d429.png)

[2017-06-23 12:26] smiska commented on #85
Sorry to hear that @Silassiai. Was it with IMAGE+TEXT element or MULTICOL element? For MULTICOL elements we have only the background coloring fix, and never experienced white lines with Litmus test. I'll certainly get back to you if I can test things out on real Outlook clients and experience the problem.

[2017-06-23 12:29] Silassiai commented on #85
MULTICOL
yess please test test test

[2017-07-03 07:24] RichardMailcamp opened #87 "client cant "save" text"
Hi,

A client of ours cant seem te save the text that was written. as soon as she leaves the box,the text is gone. Had her empty the cache and problem persists. I can reproduce the problem and on another pc she doesnt have this issue. any thoughts of what it could be?

[2017-07-03 11:44] smiska commented on #87
Hi,
Do you have a manual  "save" button set up? Does the text disappear when your client clicks away from the text editing or just by leaving the text area? If you can capture it in a screencast and send it to support@edmdesigner that would be helpful for the reproduction. I'm looking forward to your answers.

[2017-07-05 09:58] MarkEsteiro commented on #87
Had a different experience of this.  For us, emptying the browser cache did solve the problem.  However, this issue is affecting several -- but not all -- clients and has a significant negative impact when text entered is not saved.

We've tested in Chrome, IE, Edge with the same issue experienced.  When we inspected the EDM frame in IE11, it highlighted javascript errors occurring in CKEditor.js.

[2017-07-05 11:40] RichardMailcamp commented on #87
Hi,

It's when leaving the text area. And indeed, clearing the cache does solve the problem. We cant reproduce the problem ourselves, so a screencast is not available. (although I did ask the client, which hasn't responded). So, it's not a mega urgent matter, but it's annoying quite a few clients so far

[2017-07-06 06:27] rkarina94 commented on #87
This is also happening with me. When I double click on a text element and click away, the text disappears/does not update. Attached is an error on the console log from CKEditor.

"Uncaught TypeError: CKEDITOR.style.customHandlers[a.type] is not a constructor"

Please fix this as soon as possible as our clients have been having this issue frequently.

![screen shot 2017-07-06 at 4 14 15 pm](https:/

[2017-07-06 08:50] smiska commented on #87
Hi,
@rkarina94 could you detail the reproduction steps to receive the error attached from the screenshot? Using the app, I don't receive the attached Javascript error. Maybe clearing the cache is a solution in your case as well? I googled the error, but didn't find useful information on the possible underlying problem.

@MarkEsteiro: does it still happen in some cases regardless of clearing the ca

[2017-07-06 23:14] rkarina94 commented on #87
Hi @smiska,

To reproduce the error:

1. Generated an instance of the EDM designer by opening a project/template.
2. Added a text element by dragging it to the body/box and double clicked on it.
3. Added some text and clicked out of it - the added text was cleared out and did not update.

As seen in the console log error, it's something to do with one of your dependencies (CKEditor - WYSIWYG HTML

[2017-07-07 08:40] agnieszkakowalska commented on #87
We had the exact same issue  and clearing cache manually helped (https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en).

[2017-07-08 14:40] smiska commented on #87
Thanks @agnieszkakowalska for the useful link.

Another thing that can solve the issue is to set up a manual save button (which was mentioned earlier), in case it's not implemented yet. You can configure a button to send an event through the postMessage API to the editor. The event should be the "saveProject" according to the [EDMdesigner's docs](http://apidocs.edmdesigner.com/postMessageApi.html#

[2017-07-11 13:58] GVSupport commented on #65
@smiska is there an update on adding more fonts to the designer? When will this be available & which fonts will we be able to offer?

[2017-07-11 15:20] smiska commented on #65
@GVSupport , I'm glad you asked, there is an update! On the dashboard you can find the option to add custom fonts under the editor settings. I attach a preview so it is easier to find. On the proper operation there are blank spost for me as well, because it's such a new feature, but you can definitely add custom fonts from Google Fonts.
![customfont](https://user-images.githubusercontent.com/16736

[2017-07-12 17:02] smiska commented on #35
Custom font support settings was added to the dashboard. Please check out if it's what you have been looking for. [Screenshot on the new settings to find it easier.](https://user-images.githubusercontent.com/16736043/28075817-ecc18174-665c-11e7-9fe4-deeea0c206c5.png)

[2017-07-12 17:31] smiska commented on #83
Hi @agnieszkakowalska , in one of our previous updates (r20170628-fix) we updated the WYSIWYG editor's version. In that new editor, this jumping behavior is not present. I hope you can confirm and with the new editor you'll have better experience.

[2017-07-13 07:08] agnieszkakowalska commented on #83
Thank you!

[2017-07-13 07:08] #83 closed, assigned to nobody

[2017-07-14 00:35] zeus- opened #88 "Some links in text do not respect the set link color"
![screen shot 2017-07-13 at 5 33 55 pm](https://user-images.githubusercontent.com/8358141/28193449-a42caf74-67f1-11e7-97d7-47ec13c057f9.png)

Screenshot of a section of a email viewed on gmail attached.

These words are linked to 2 different links.
The one on the right is linked to: http://google.com?first_name={{first_name}}
The one on the left is linked to: http://google.com?email={{email}}

The

[2017-07-17 08:38] smiska commented on #88
Hi @zeus- ,
The reason that one of your link gets another color is that the browser often have a default behavior to color the already visited links differently. There's an option to select the link color manually for all the links in your template within the Typography toolbox (see screenshot attached), which should prevent this from happening. Please check if applying this resolves the issue. Th

[2017-07-17 09:15] GVThorne commented on #65
Hi @smiska  the new 'custom font' feature is very useful, however, is it possible to have the option to add the custom fonts to the existing list of fonts?

Currently, when adding custom Google Fonts, the existing 'inherited fonts' are replaced but we are looking to still use the existing fonts. As these existing fonts are Microsoft ones, to add them alongside the custom google fonts, we are requi

[2017-07-24 07:28] agnieszkakowalska opened #89 "Problem with ckeditor in pt-br language"
After updating from r20160624 to 20170710, we have a problem with pt-br language in ckeditor. Please see the error we are encountering each time when trying to double click on text element.

![obraz](https://user-images.githubusercontent.com/17157918/28512402-1816ff58-7052-11e7-8a3c-9f4b4db1027c.png)

[2017-07-24 07:35] agnieszkakowalska opened #90 "Cannot read property 'isInline' of null"
After updating from r20160624 to 20170710 we can see this js error after moving text element to the editor, double clicking it, and then click somewhere else in the content of editor (all languages). Please see below:
https://agnieszka.tinytake.com/sf/MTgwNTY5NF81ODc4Nzg5

[2017-07-24 07:43] smiska commented on #90
Hi, this is a known issue in CKEditor (the third-party WYSIWYG editor). As far as we know it doesn't cause any functionality problems. In case you see something break related to this, please tell us and we'll take a look.

[2017-07-24 07:47] smiska commented on #89
Hi, thanks for the screenshot, I'll inspect debug the code and get back to you as soon as I can.

[2017-07-24 07:54] agnieszkakowalska commented on #90
Thanks for the explanation. I also haven't noticed any functionality issues regarding this error yet, so we'll just ignore it.

[2017-07-24 10:37] smiska commented on #65
Hi, the default fonts are web safe fonts, built into the browser, so you can add them without purchasing anything or adding any additional CSS. You just have to provide the font name (with quotes) in the font stack section and it will be available for the users.

[2017-07-25 11:24] GVThorne commented on #65
Thanks @smiska

[2017-08-01 06:28] agnieszkakowalska commented on #89
Hi @smiska, is there any update?

[2017-08-04 09:16] GVSupport commented on #75
We are also having a problem with this.  For us, the issue is affecting text that is a heading.  Font size is 32.  We tried changing the line height and also changing the font size by one pixel either way.  The issue is still present when the mail is viewed in Outlook.

![capture](https://user-images.githubusercontent.com/18616807/28962466-b3e41002-78fd-11e7-81a5-ccff0a6075b4.JPG)

The email viewe

[2017-08-10 08:34] agnieszkakowalska commented on #89
@smiska - have you been able to check it?

[2017-08-11 14:57] smiska commented on #75
We are working on an update of the generator, which will fix these problems on Outlook.
@RichardMailcamp do you also experienced this on Outlook? Our fix will affect desktop Outlooks email clients.

[2017-08-13 08:55] smiska commented on #89
Hi @agnieszkakowalska , sorry for the delayed reply. Yes, I checked and it seems there was a problem in the [Line-height plugin](https://ckeditor.com/addon/lineheight)'s localization file. We can release the update in the next editor release. Sorry for the inconveniences. I hope this issue didn't cause too much trouble for you.

[2017-08-25 19:01] smiska commented on #89
Hi. The update was released with the editor version r20170821. Please check if it works well. I hope you find it working properly. Thanks.

[2017-08-29 13:47] samtlewis opened #91 "Social Follow Email label"
When adding a social follow element and choosing the "Email" option from the list, unlike the other options, the label is missing "Text" as in "Link Text".
![image](https://user-images.githubusercontent.com/1706265/29824243-d056502e-8c85-11e7-9016-ea25a6bb054b.png)

[2017-08-29 13:48] samtlewis opened #92 "Social Follow/Share mobile rendering request"
We'd like to see an option with the social follow/share icons to not stack these on mobile. We'd like to see this option added as a feature like in the Multicolumn element. So users can turn on/off the stacking of the social icons.

[2017-08-29 13:50] samtlewis opened #93 "Social Share Background image option"
After adding a social share element, the Jump to Gallery option to assign a background image does not work. Selecting background image and the jump to gallery button does not activate the gallery so you can't assign an image.

[2017-09-04 10:26] agnieszkakowalska opened #94 "Lack of option "Mode" (Fixed or fit to text)in button element in RU version of editor"
Most probably this is another issue with too long translations:

![obraz](https://user-images.githubusercontent.com/17157918/30022552-1089a502-916c-11e7-83bc-8908c68803f1.png)

[2017-09-04 10:31] agnieszkakowalska opened #95 "Spacing shown twice in H1 element"
Hi, I found that for a latest version of editor (r20170821), H1 element has spacing shown twice:

![obraz](https://user-images.githubusercontent.com/17157918/30022735-e6fba18a-916c-11e7-8f5b-ae13c916e1ff.png)

[2017-09-06 08:41] smiska commented on #95
Thanks @agnieszkakowalska for the notification, we'll fix it soon.

[2017-09-06 09:00] smiska commented on #94
Yes, indeed. The translations are for the mode toggle button: "Фиксировано" , "Подогнать под текст". Can you please provide a shorter version, so we can fix it for you? Thanks.

[2017-09-06 09:32] smiska commented on #92
Hi Sam, we'll discuss this in the team and I'll get back to you soon how and when we could roll this feature out.

[2017-09-06 09:37] smiska commented on #93
Hi @samtlewis , would you need this feature? Adding background image in the social share element doesn't seem a useful use case. We probably disabled the "Jump to Gallery" option as a temporary solution - as hiding this settings would require building a new toolbox solely for the social share element.

[2017-09-06 12:14] smiska commented on #92
We discussed our schedule and we can make this update by around the second part of October. I hope this timing works for you.

[2017-09-07 06:24] agnieszkakowalska commented on #94
Sure. We don't know what is the max number of chars, but please see below:

[2017-09-07 07:53] smiska commented on #94
Does this seem all rigth?

![razmer](https://user-images.githubusercontent.com/16736043/30152092-4e65a4f0-93b2-11e7-9276-420b114fd2dd.png)

[2017-09-07 08:02] agnieszkakowalska commented on #94
Yes! Thank you :)

[2017-09-07 08:27] smiska commented on #94
I made the modification, it will be released soon with the new editor version. Please look out for the dashboard notification.

[2017-09-07 08:34] agnieszkakowalska commented on #94
Thank you @smiska!

[2017-09-08 09:37] agnieszkakowalska commented on #65
Hi @smiska, I've tried to add new custom fonts, and I needed to add again the default ones, so font stack administration looks like this (is it needed to add sans-serif after the font name or will it work without it for web safe fonts)?

![obraz](https://user-images.githubusercontent.com/17157918/30205739-07fc99a0-948a-11e7-8643-47ade07ab685.png)

 However now they are displayed in editor with apo

[2017-09-08 10:28] agnieszkakowalska commented on #65
Additionally - is there any option for a user to upload his font (which is a paid font) so it will be visible only for him?

[2017-09-15 17:51] smiska commented on #65
I'm sorry for the delayed response. In your font stack administration, it is advised to include the fallback fonts, without it you won't have fallbacks. Unfortunately, there's no option to specify the font stack name currently, therefore you can't specify it's display yet. Should we add this to our future development plans?
Currently, there's no option to define font stacks on user level. The lowe

[2017-09-15 21:30] samtlewis commented on #93
No I don't see any reason to be able to assign images. I would just ask that a non-functional item be removed.

[2017-09-18 06:04] agnieszkakowalska commented on #65
Hi @smiska, yes, please add font stack name - it will look much better in the editor! :)

Are you planning to add somewhere in the future the option to define font stacks on user level?

[2017-09-18 13:30] smiska commented on #65
Hi @agnieszkakowalska we don't plan user level font stack feature currently. Is it regularly recurring need or a unique case with your user? thanks for your feedback.

[2017-09-18 13:36] agnieszkakowalska commented on #65
I see. We have many clients that asked for that (the reason are paid fonts, which cannot be shared with other clients) - the other solution would be to introduce adding font stacks on administration level, but not for entire api key but for one user. However it's not that high priority at the moment - we would rather like to see the font name added to the editor.

[2017-09-18 15:45] smiska commented on #65
Could you help a little to better understand how you would image custom font name feature please? Thanks in advance.

[2017-09-18 16:21] smiska commented on #93
Thanks @samtlewis for the clarification. We added it to our bug list, but the improvement would need some time. I ask for your kind patience.

[2017-09-19 06:47] agnieszkakowalska commented on #65
I would see it as a new column that would indicate a font name (near font stack)
![obraz](https://user-images.githubusercontent.com/17157918/30578997-fc038ed4-9d16-11e7-8024-5ced3f6448fe.png)

Then the "font name" column would be displayed in the editor in dropdownlist instead of "font stack column.

[2017-09-28 12:17] smiska commented on #94
Hi @agnieszkakowalska , I'm not sure if I notified you already or not, but if you change to editor version r20170926 this fix will be available.

[2017-09-28 12:55] agnieszkakowalska commented on #94
Thank you :)

[2017-09-28 14:50] smiska commented on #91
Hi @samtlewis . We fixed the Social Follow Toolbox's label in the latest release "r20170926". Thank you for your feedback.

[2017-09-28 14:50] #91 closed, assigned to smiska

[2017-10-03 10:43] smiska commented on #75
We updated the our generator. Probably you could see these kind of bugs disappear already? I certainly hope so. Please tell us if anything similar would come up.

[2017-10-03 10:50] RichardMailcamp commented on #75
Hi,

Nope… unfortunately not

[cid:image004.png@01D33C46.18B52BA0]

Met vriendelijke groet,
Richard Crombie

[mc_mail_logo]
Handige instructievideo’s
MailCamp heeft korte, heldere instructievideo’s van haar programma.
Bekijk deze basis video’s hier<https://www.mailcamp.nl/kennis/instructievideos/>
Vragen of problemen?
Je mag altijd bellen of mailen naar support@mailcamp.nl<mailto:support@mailcamp.

[2017-10-03 11:09] smiska commented on #75
Thanks for the feedback. I think you don't see the changes in an old template. If you create a new one or modify the corresponding properties in the old one and generate the project you should have an updated version of the HTML. If you can provide a projectId I'll look into it.

[2017-10-04 13:57] RichardMailcamp commented on #75
On second thought, I only just now realized that i replied to this thread thinking it was a different issue... Sorry. I'll get back to you as soon as i find out from the client which newsletter it was on. (forgot)

[2017-10-04 19:21] samtlewis opened #96 "Responsive preview not accurate in Firefox"
Actual mobile versions do render correctly but when viewing a preview iframe of a responsive email in Firefox columns are not stacking properly.

We have a side by side view of the editor and a real time preview where this issue is seen only in Firefox. This doesn't affect the actual email but does cause concern by our clients when previewing emails.

I've attached a screenshot that shows our side

[2017-10-05 09:53] smiska commented on #96
Hi @samtlewis, could you provide a projectId so we can look into the template?
Also I would need to know what's the firefox version and where does this preview come from?
Thanks.

[2017-10-13 01:50] confettidc opened #97 "Days to keep templates after removing user"
Dear Support,

We find that after we removed a user (e.g. user X), the templates will be restored when creating the same user (user X).

We would like to ask how many days will user templates keep after removal?

Thanks.

[2017-10-13 12:06] smiska commented on #97
Hi, we apply "soft delete", the templates can be accessed again if you restore the user with the same ID without time limitation. I hope it helps!

[2017-10-16 01:54] #97 closed, assigned to smiska

[2017-10-18 12:44] samtlewis commented on #96
Sorry this looks to be an issue with how we are generating the preview and not with any of the EDM code. I'll close this issue now.

[2017-10-18 12:44] #96 closed, assigned to nobody

[2017-10-23 08:11] Silassiai opened #98 "502 Bad Gateway - URGENT! (all our customers has this problem)"
![image](https://user-images.githubusercontent.com/18419961/31878443-678d25ba-b7da-11e7-9800-a141a55c4132.png)

Hi,

Kan you please fix this ASAP???

[2017-10-23 08:19] gyulanemeth commented on #98
Hello,

thank you for reporting this. We are aware of the problem and working on the fix.

[2017-10-23 08:32] Silassiai commented on #98
Hi gyula,

The problem is fixed. Thanks for the fast response!

[2017-10-23 08:37] gyulanemeth commented on #98
Hello Silas, thank you for confirming it.

[2017-10-23 08:37] #98 closed, assigned to nobody

[2017-10-23 20:59] samtlewis commented on #92
Smiska,

Just checking to see if this is still on track for this month. Thanks.

[2017-10-23 22:46] samtlewis opened #99 "Social Share Element Labels not updating on change"
The attached video shows the issue. This was taken in the EDM demo on your site.

Add a Social Share element.
Change the social network using the drop down and the icon changes but the label does not.
Luckily the icon and text in the template do change and if you click out of the element and re-select it, the social icons/labels are correct both in the template and the content tab.

[SocialShareLa

[2017-10-24 13:11] smiska commented on #92
Hi Sam, I'm sorry for not updating you before, I was ill. We can switch the current settings of the social share element from stacking to non-stacking for newly created templates. Should we proceed with this?Implementing a switch button unfortunately exceeds our current development possibilities.

[2017-10-24 14:03] samtlewis commented on #92
smiska,

Well we were hoping for a user selectable setting but if that is not possible, then yes we would prefer that the social share/follow icons do not stack on mobile.

[2017-10-25 14:40] agnieszkakowalska opened #100 "Problems with "hide on mobile/desktop" options"
Some time ago we discussed how do the "hide on mobile/desktop" options work. The discussion is here:
https://github.com/EDMdesigner/editor-issues/issues/66

But now my clients have some more questions about it. Please see below:

If we look at the table of compatibility of EDM editor, we can see gmail app in MOBILE CLIENTS and gmail in WEB-BASED CLIENTS:
https://edmdesigner.com/compatibility/
This

[2017-10-25 14:50] agnieszkakowalska opened #101 "Custom web fonts fallback"
Hi, I have a question from my client. He is asking about the custom web fonts that can be used in editor:
Not all clients support web fonts. Which font will be depicted if client is not allowed to use customised font?

[2017-10-26 11:50] smiska commented on #101
Hi,
In the API dashboard you can define the fallback fonts for the custom fonts: you would provide the fallback font's name after the custom font's name, like this: `'Sedgwick Ave', cursive` (where `Sedgwick Ave` is the custom font, `cursive` is the fallback font.

If you don't provide a fallback font name and the custom font is not available in the given email client, it can apply the defined sty

[2017-10-26 16:37] agnieszkakowalska commented on #101
Thank you @smiska for your fast reply!

[2017-10-27 08:13] smiska commented on #100
Hi,
"Hide on mobile: ON" means it would not show up on mobile devices while "Hide on desktop: ON" means that the element will not show on desktop. However, if you toggle both of the switches " ON", it can cause  unexpected behavior in email clients, like you've seen in Gmail and Mail.ru app.

You should not define both of the switches "ON", because as the underlying code works the two definition c

[2017-10-27 12:18] agnieszkakowalska commented on #100
Please investigate why Mail.ru mobile app hides elements when "Hide on desktop: ON" and fix it. We have a huge Russian market, and more than 60% of our customers' subscribers in Russia use mail.ru. This is why it is very important for us.

[2017-11-02 15:36] smiska commented on #100
We could investigate the problem and found that it only affects the Android Mail.ru app, even with updated Android and latest app version (it displays correctly on iOS).

The reason is that we hide the elements with inline styles and switch it to display with through media query from the `head` element. When "Hide on desktop: ON" is set, there would be media query in the `style` tag switching the

[2017-11-03 12:13] agnieszkakowalska commented on #100
Thank you for your answer @smiska

[2017-11-03 12:13] #100 closed, assigned to nobody

[2017-11-09 15:52] smiska commented on #99
​Hi Sam,

We released a new editor today (r20171109).
A fix for this feature was included in it. I hope you’ll find it working properly now.
Thank you for your patience.

[2017-11-09 15:53] smiska commented on #95
​Hi, we released a new editor today (r20171109). A fix for this feature was included in it. I hope you’ll find it working properly now.

[2017-11-09 15:53] smiska commented on #92
Hi Sam,

In the end, we implemented your idea and made reorder selectable. It’s set to reorder on mobile by default as it is more stable with layout structure. You have a checkbox for disabling the reordering in the layout editor toolbox.
![layouteditor](https://user-images.githubusercontent.com/16736043/32613899-547c6dec-c56c-11e7-99aa-4fc3de7c1963.png)

[2017-11-09 18:11] samtlewis commented on #99
Just tested this fix. Looks good. Thanks.

[2017-11-09 18:11] #99 closed, assigned to nobody

[2017-11-09 18:37] samtlewis commented on #92
@smiska Love the new addition but it doesn't quite work right. See the attached screencast for a demo.

1. Add Social Share/Follow element
2. Uncheck the "Reorder columns on mobile"
3. icons are shown as side by side
4. Change one of the selected social networks (Facebook to Linked for instance)
5. Icons/text are updated in the content tab and the html but the icons revert to being stacked regardl

[2017-11-13 13:45] smiska commented on #92
Hi Sam, with continuously generated live preview the update really not delivers the value it's supposed to. It made sense before to default to reorder behavior on any update, but know that I know exactly how you use it doesn't anymore. I'll fix it, so the chosen reorder mode will be persistent.  Thanks for the feedback.

[2017-12-04 18:15] samtlewis commented on #92
@smiska, any update?

[2017-12-12 16:54] smiska commented on #92
I'm deeply sorry for the late reaction. I'm still working on the fix as there's still a minor bug that needs to be handled. I hope to release the update this week. I'll get back to you when I could figure out the solution and the update is available. Sorry for any inconvenience.

[2018-01-03 13:40] Silassiai opened #102 "Saves changes temporarily"
Hi,

When a customer of us saves the template, the template will be change temporarily.
If we go out of the editor and reopen the template again we will see the correct changes.
But if we wait a couple of minutes and open the template in the editor again the changes are back to an earlyer version.

Any idea how this is posible?

[5a4c9816a373564235c19456.txt](https://github.com/EDMdesigner/editor-

[2018-01-04 09:16] SaqibHussain commented on #86
@smiska please could you provide an update on the status of this bug? We still have customers waiting for this to be resolved. Thanks.

[2018-01-04 13:38] smiska commented on #102
Hi @Silassiai ,

By default, the editor has an [autosave functionality](http://apidocs.edmdesigner.com/#editor-iframe).
Is it possible that this was disabled for example because you have a custom save button configured in the UI?

The other possible cause can be some sort of network problem. Could you send an email with the credentials of a test account to support@edmdesigner.com  ? Then I could t

[2018-01-05 08:07] smiska commented on #86
Hi @SaqibHussain ,
My apologies for the delay in replying. I briefed a colleague about the details of this issue,
when I hear back from him I'll let you know immediately.  I'm sorry for any inconveniences caused.

[2018-01-05 08:49] smiska commented on #86
Hi @SaqibHussain , I could discuss our policy for sanitization with our CTO, and as the needs of our partners differ, unfortunately we can't do this update for you. As such changes would affect multiple partners sanitization process, we must leave custom implementations to be implemented on the partner's side.

[2018-01-05 10:12] smiska commented on #92
Hi @samtlewis , I'm sorry for the delayed follow up on the editor release. We encountered many barriers during the process. There's a new release available in the API dashboard (r20180103). It fixes the behavior of social icons' reordering. I hope you'll find it working as expected.

[2018-01-05 10:13] smiska commented on #93
Hi @samtlewis , The editor release r20180103 was updated based on your request, so the non-functional background image settings will not show.

[2018-01-09 07:47] #93 closed, assigned to smiska

[2018-01-19 17:00] agnieszkakowalska opened #103 "Connection issue - request time out"
Hi Guys,

Please let me know if there is any global issue with connection to your servers (createFromOwn function)

We have a problem with EDM designer for user Unit_40356.
Such requests do not work at all (return request time out)
Url: https://api-a.edmdesigner.com/jsonp/project/createFromOwn/5a597ae45814a81100b4a3ac?user=Unit_40356&token=68c49de856642832c330f9210dba4fc4&data=%7B%22title%22%3A%22

[2018-01-23 10:45] smiska commented on #103
Hi @agnieszkakowalska ,
[CreateFromOwn](http://apidocs.edmdesigner.com/#project-create-from-own) work without problems,
there shouldn't be any issue. If I understand properly you make a GET request, while it should be a POST request. If you send the projectID in the request body, your project will be duplicate for the user who is authenticated in the request.

[2018-03-15 17:55] bretkempler opened #104 "Text Element Toolbar is in the way of editing"
If you have a large text box and click into the element at the top, the Text Toolbar shows up above the text.  If you have this same large box and click into the element at the bottom, the Text Toolbar shows up at the bottom.  The problem is when you enter into the element in the middle and the Text Toolbar hovers over your text and covers up text that may require edits.

Workaround is to click ou

[2018-03-19 09:27] smiska commented on #104
Hi, Does this occur in[ the standalone App](https://app.edmdesigner.com) or through API integration? If it's through an API integration, changing the current editor release could help solving this. If that's the case I'll help you select the appropriate release. Please let me know your use case.

[2018-03-19 12:20] bretkempler commented on #104
Thanks for the response!  I'm able to reproduce in the standalone app.  Here's a screenshot with url, if that helps.  It looks like the steps to reproduce are,

1) Generate a large text block.
2) Scroll down so the top of the text block is off the screen
3) Click in the middle of the text block
If you click to low, it puts the toolbar at the bottom.

Screenshot... https://www.screencast.com/t/kWkq

[2018-03-20 15:07] bretkempler commented on #104
Confirmation that we use API and not standalone and currently using EDM version: r20180103

[2018-03-23 10:45] GVSupport opened #105 "Bulleted List justification issue"
When a bulleted list is inserted into a design and the list is justified to the right, on preview and send, the list changes to left justification.

[2018-03-23 19:55] bretkempler commented on #30
Same issue here.  Seeing when set to email and switching, mailto: remains.
Also see switching social keeps the old social url.

Informed my customer that you have to put the complete url anyway...  like follow us and just go to FB main page wouldn't be enough.

[2018-04-11 21:26] samtlewis commented on #92
This works great and addresses our needs perfectly. Thanks. Closing the issue

[2018-04-11 21:26] #92 closed, assigned to smiska

[2018-04-11 21:38] samtlewis opened #106 "Possible to modify the ckeditor config when initiating edm?"
Is it possible for us to control the ckeditor configuration when initiating the EDM interface?
I see when the iframe is initiated your side calls a file called EDMdesignerConfigs.js which contains references to the ckEditorConfig object for various elements. It would be awesome if we could override that config when we initiate the editor.

For instance, I see you have the spellcheck and specialcha

[2018-04-12 08:58] smiska commented on #106
Hi Sam,
Thanks for the suggestion. I'll discuss with the DEV team how it may be implemented and I'll get back to you soon.

[2018-04-12 11:28] smiska opened #107 "Copyfrom URL on MAC issue"
Media Library copy from URL, not updating on MAC

[2018-04-18 14:07] smiska commented on #106
Hi,
Currently we can't provide an option for custom configurations for ckeditor.
We can add additional plugins if you find it necessary.

For what sort of toolbars would you need the spellcheck? Please help me understand your use case.

The anchor plugin is used by other partners,
therefore we can't disable it.

[2018-04-20 09:21] smiska commented on #105
We can update the HTML generator as below, if this seems to fulfill what you need:

![align-right-code](https://user-images.githubusercontent.com/16736043/39043146-ee4cf4d8-448c-11e8-9171-90a9aed0e49a.png)
![align-right](https://user-images.githubusercontent.com/16736043/39043147-ee69e67e-448c-11e8-9ae0-8c988e06fdb7.png)

[2018-04-24 13:06] bretkempler opened #108 "Add a name attribute to the images/buttons links"
Text links, you can go to the advanced tab to provide a link name.  However, when you have an image or a button, there's no name attribute.  Please let me know if more information is needed.

Here's a screenshot of the advanced options on a text link where a name can be set:  https://www.screencast.com/t/rbYTm3D7HHKO

Thanks!

Bret

[2018-05-02 22:35] samtlewis commented on #106
Smiska, We would love to have the spell check available whenever editing any text elements be those Text, Headline, or Buttons ideally but definitely the first two. One other requirement would be that the correct language is used for the spell check based on the activated language.

The other plugin that would be quite useful is the special chars plugin for all Text/Headline elements.

We’d like t

[2018-05-04 16:04] smiska commented on #106
Hi Sam,
I'll look into the requirements to push an update based on your request and I'll get back to you.

[2018-05-04 16:18] smiska commented on #108
Hi, I have to check with the team about the implementation specifics, if it can be implemented. There's a simplified WYSIWYG editor for these elements, as you provide the URL for them in the sidebar toolbox. Probably, being able to set URLs in two different locations cause errors that's why it has been disabled.

[2018-05-08 02:34] confettidc opened #109 "html source code error in multi-column"
Dear Support,

Just found that if create the edm layout with multi-column with left text + right image.

01.
Sometimes the left text with html source code error, the left text cannot display after the eDM sent out.

For example:
![screen shot 2018-05-08 at 10 24 53 am](https://user-images.githubusercontent.com/5524183/39734483-1a21098e-52aa-11e8-999a-4585cbce95de.png)

02.
After checked the source

[2018-05-08 02:41] confettidc commented on #109
Dear Support,

For more information:

The left text + right image is the not "TEXT + IMAGE" element.

I added the multi-column element, then add "Text" element at left column and "Image" element at right column.

Thanks.

Jeff

[2018-05-08 09:52] smiska commented on #109
Hi Jeff,
Thanks for the detailed bug report. The reason is that we needed to [change line-breaks](https://en.wikipedia.org/wiki/Newline) (from "\r\n" to "\n") for the HTML and in some systems it seems that this Unix-like newline is not respected. We're already working on a fix to avoid problems with this.

[2018-05-08 10:24] confettidc commented on #109
Dear Support,

Thanks for you help!

Just found more source code has same issue.

I found the similar error on:

**<spanstyle .......**
**<pstyle ......**

Hope this information can help you.

Thanks.

Jeff

[2018-05-08 16:56] smiska commented on #109
Hi, we had a similar issue recently, and it there the underlying issue seems to be that the HTML generated by us is processed and linebreaks are removed by the partner's system. Could you check if you don't modify the HTML similarly?

[2018-05-08 16:58] ademirdiniz commented on #109
Hi.

We have the same issue.

<spanstyle .......
<pstyle ......

What do we need to do to solve it?

[2018-05-08 17:18] smiska commented on #109
@ademirdiniz As you gave us a temporary account I could take a look and it seems that for the preview (and eventually the test email and email campaing sending as well) you process the HTML, remove all the linebreaks and make the whole email HTML a single one line string. This way you remove those linebreaks, which we insert especially for long lines in the HTML, after the opening tag. I don't kno

[2018-05-09 16:23] ademirdiniz commented on #109
Hi, @smiska. Thanks.

We have changed our tool to works with this EDM update.

Now is working again.

Is possible to receive an email when you publish the releases?

Thanks

[2018-05-09 17:03] smiska commented on #109
Hi @ademirdiniz , I'm glad that you could solve it.
@confettidc , could you check how you handle HTML on your side,
and if it's not processed in a similar way?

Some form of release notification sounds well. We'll look into how this could be implemented, thanks for the suggestion.

[2018-05-10 11:33] confettidc commented on #109
HI @smiska, any updates of the issue?

My customers reported this issue again.

Please help to solve it or provide some workaround.

Thanks!

[2018-05-10 12:59] smiska commented on #109
Hi @confettidc , we identified that the issues by the recent update may have it's root cause with how you handle our HTML code. Could you look into it please?

Or you could set up a test account for us and we inspect what may go wrong. If you choose this option please email login credentials to the test account to [support@edmdesigner.com](support@edmdesigner.com) Thanks.

[2018-05-11 03:01] confettidc commented on #109
After we replace below, the issue is fixed:

**<pstyle** => **<p style**
**<spanstyle** => **<span style**
**<divstyle** => **<div style**
**<strongstyle** => **<strong style**
**<ahref** => **<a href**

Thanks for help.

[2018-05-11 06:37] smiska commented on #109
Thanks for the update. I'm glad that you could solve it.

[2018-05-16 14:22] smiska commented on #108
Hi, For the stability of the email templates, we can only include it by adding extra fields to the button and image toolboxes. We may include it in our next API version prioritized by the request volume.

Thanks for the feedback.

[2018-05-21 06:52] confettidc commented on #109
Dear Support,

Just found new error source codes, these error occur at bullet point function:

<spanlang
<spanclass
<tdstyle

[2018-05-21 11:21] smiska commented on #109
Can you provide projectId where this occurs?
Is the rest of the template showing up correctly?
Do you have reproduction steps, or doest it occur for each and every list?
Any further information is greatly helpful. Thanks.

[2018-05-29 01:50] confettidc commented on #109
Dear Support,

One more error source code ofund:
<h1style

You may reference project id 5b0cb114743e7a26009711d2 for reference, thanks.

[2018-06-06 09:59] smiska commented on #109
Apologies for the late reply.

I checked the generated HTML from this project (with multiple generation),
and I could'nt find <h1style. In your implementation, probably a  line-break is  not respected,
I highlight the one that is most likely removed when you process our HTML.

![generate](https://user-images.githubusercontent.com/16736043/41031507-118c9c14-6981-11e8-83a3-d8fbd7146fef.png)

[2018-06-07 14:27] samtlewis opened #110 "Converting HTML to project causing Entity Too Large error"
On certain templates, when we try to use the api to convert to a project, we'll get an 413 Entity Too Large error from the EDM side. It looks like the html is converted to the document object but when we pass that to the "/project/create" path that is where we are seeing the Entity Too Large error. This is not with every template we import but seems to be with some more complex templates.

Is ther

[2018-06-11 10:25] smiska commented on #110
Hi Sam,

There's a restriction of 2 MB per request body size in our server. Do you think it's possible that your project could exceed it? Could you send a projectID so I can check?

I added a colleague to this thread. I hope he has more information on this.
Do you experience this in specific scenarios or is it a generally occurring issue?

[2018-06-11 14:08] samtlewis commented on #110
The template we converted was not large at all. It was an 89kb file. But the json document was huge when it was returned. I think it came in at 5.8mb. Not sure I understand the increase in file size by that extent. I can't provide a projectID since the project creation fails. I can send the html that is converted if you like. What email should I send it to?

Just to confirm the process:
We use the

[2018-06-11 14:59] smiska commented on #110
It seems that the process fails because the JSON is too large for the API call.

Could you send the HTML and JSON to support@edmdesigner.com ? We will investigate this.
I don't have in-depth knowledge about the import tool, but this JSON size is surprisingly large.

We could elevate the request body restriction, but I believe that it may be a better approach to make
adjustments to the import tool.

[2018-06-12 14:02] smiska commented on #106
Hi Sam,

We started to work on these custom plugins, but we ran into the requirement of adding a new
WYSIWYG editor version and with that the requirement of updating our server engine (NodeJS)
to a newer version, which caused a multitude of unit tests to fail in the API.
I'll update you, when we could solve these out. ​Our apologies for the inconveniences.

[2018-06-12 15:22] samtlewis commented on #110
@smiska I just emailed the html.

[2018-06-12 16:30] smiska commented on #110
@samtlewis I notified @stubendek about it, we received the HTML thanks.
We'll investigate it. There are special characters in the HTML, that could have an effect
on the resulting size, but we'll take a deeper look at it.

[2018-06-26 13:03] samtlewis commented on #110
@stubendek @smiska - Any update on this? We've got a number of clients being affected currently and it's holding them up. Is this an issue on the html import or something we may be doing on our side?

[2018-06-26 13:20] stubendek commented on #110
@samtlewis , we are working on the issue. we localized the error, it affects the text recongition core, it takes time to correct it.
however, there are some tricks how to avoid the error:
1) the most important thing is to wrap texts in a paragraph tag (P), that corrects the large json issue and the aligning as well
2) The html tag BIG is deprecated, thus it is removed from the source, try using st

[2018-06-26 13:23] samtlewis commented on #110
Great, thanks for the update. We don't have control of the html but we'll advise our clients of these steps.

[2018-07-11 10:55] #102 closed, assigned to smiska

[2018-08-01 21:32] samtlewis commented on #110
Any update on this issue? Any changes made to the conversion process to reduce the file size and avoid these errors?

[2018-08-22 07:58] agnieszkakowalska opened #111 "Wrong text "hide on mobile/desktop""
We found that the wrong text appears in the editor in the box settings.

If you point to the text "Hide on desktop:" in the "Mobile settings" section, the text "Hide on mobile:" while be displayed while "Hide on desktop:" should be displayed.
Look at screencast - http://take.ms/mR7qx

A similar problem in the Russian interface. When hovering on the "скрывать на компьютере" is displayed "скрывать н

[2018-08-22 19:22] samanthazen1210 opened #112 "Constant Invalid HTML response for imports"
We are getting an Invalid HTML for all HTML imports currently, even with code that has previously imported just fine (i.e. we often use this for testing: https://github.com/leemunroe/responsive-html-email-template). Is there anything going on with the import process?

[2018-08-27 09:03] smiska commented on #111
Hi,

Thanks for the feedback.

Please check it in the upcoming editor release (expected this week) when the dashboard notification shows that the release was issued.

Thanks.

[2018-08-27 09:19] smiska commented on #112
Hi, could you provide further reproduction steps, possibly a screencast on how this happens?
Thanks.

[2018-08-27 13:02] samanthazen1210 commented on #112
Hi, we now have an ongoing email ticket with Roland and Gyula.

[2018-08-27 13:02] #112 closed, assigned to smiska

[2018-09-05 07:46] agnieszkakowalska commented on #111
Hi, could you please tell me in which version of editor was it released?

[2018-09-10 09:22] agnieszkakowalska commented on #111
Hi @smiska is this fix already released? I can see that the latest version in Dashboard to choose is 20180705.

[2018-09-24 14:37] agnieszkakowalska commented on #111
@smiska I'll appreciate your answer.

[2018-10-01 13:23] #111 closed, assigned to smiska

[2018-11-09 12:24] serokicki opened #113 "Images dissapear while using Image + text / text + image"
Hello,

I've found an issue that every click on **Image + text/text + Image** resets source of those controls.
Function below checks whether we use DynamicImages or not and it either resets our src to "" or replaces with a placeholder.. It happens on each click.
**main.js**:
[code]
This is how it appears:
I've added couple of image controls and added a random image:
![image](https://user-images.gi

[2018-11-19 10:12] agnieszkakowalska commented on #113
@gyulanemeth can you please help?

[2018-11-28 08:49] gyulanemeth commented on #113
Hello, thanks for reporting, we are going to address this issue in the next release. In the meanwhile please rollback to a previous release.

[2018-12-17 07:42] vyuva-17 commented on #6
where i have to use this below option
config.image_previewText = ""

[2019-01-21 08:11] serokicki opened #114 "Background-image CSS property issue for Defaults and Content Tab"
Dear Team,

I have an issue with background-image functionality in EDM editor. Everything started with "Defaults" tab in editor, we found out that using filenames or uri with "()" in filename breaks "preview" of images in editor. This happens because of "not escaping" a uri for a css background-property. Fix was fairly easy - to escape a uri.
Let's say we have a file called: test (1).jpg - this wo

[2019-01-28 10:39] serokicki opened #115 "Size element differs in different languages (EU -> RU)"
Hello Team,

We've found an issue with editor differences in EU and RU languages. The difference is in size element EU and RU versions - options for "Fixed" and "Fit to text" are missing in RU version.

EU:
![image](https://user-images.githubusercontent.com/44897599/51830696-bffc7700-22f0-11e9-9f30-cb27b5da509a.png)
RU:
![image](https://user-images.githubusercontent.com/44897599/51830746-dc001880-

[2019-02-13 11:22] agnieszkakowalska commented on #115
FYI: I am pasting the proper image for English version:
![image](https://user-images.githubusercontent.com/17157918/52708225-f04b4300-2f89-11e9-9edf-271507cc040e.png)

[2019-02-14 15:35] gyulanemeth commented on #115
Hello, it usually happens when the translation is too long. Can you please provide a shorter Russian version for those values?

[2019-03-12 13:12] gyulanemeth commented on #113
Hello, we have tried to reproduce it several times without any success. Can you please try it again with the newest release?

[2019-03-12 13:14] gyulanemeth commented on #114
Hello, the problem is that in many cases it's not advised to escape those urls. Can you maybe rename the images?

[2019-03-22 14:17] agnieszkakowalska commented on #114
Hi Gyula, if these were our images - sure. But we can't control what names client has for their images.

[2019-03-22 14:18] agnieszkakowalska commented on #115
Will the "пользовательский" and "адаптивный" options meet the requirements?

[2019-05-27 07:01] agnieszkakowalska commented on #115
You can also use the following ones:
Fixed - Фикс.
Fit to text - Под текст

[2019-09-06 13:00] agnieszkakowalska commented on #115
Hi @gyulanemeth any update here?

[2019-10-29 15:02] GVSupport opened #116 "Rendering issue with hyperlinked buttons - Links do not work"
We are seeing an issue where when rendering a preview email, the link in the button frequently doesn't work.

I have a saved template and I sent a preview - the link on the button works.  With no changes made, I previewed again and the link didn't work in the second email.  Viewing the source HTML in both emails, they are different.

**1st preview with working link**
[code]

**2nd preview where th

[2019-10-29 15:26] gyulanemeth commented on #116
Hello,

Where did it not work? I'm suspecting in mso outlook versions. You will have to use the unsanitized route for generating the email html.

[2019-10-29 15:31] #116 closed, assigned to nobody

[2019-10-29 15:35] GVSupport commented on #116
Hi

In the designer I sent a preview of the template.  I sent another preview of the same template two minutes later having made no changes to the design.

The HTML forming the button and hyperlink was different in each email, which does not make sense.  You can see the two examples of the HTML in the Github ticket.

Why would the HTML be formed differently for two previews from the same template?

[2019-10-29 16:43] gyulanemeth commented on #116
Hello,

we released a button enhancement that will make the whole button clickable on all email clients but outlook. We introduced a fallback mechanism for outlook, but that requires everyone to use the generator without sanitizing.

We are checking right now if it's safe to make the without sanitizing the default option.

[2019-10-29 17:07] gyulanemeth commented on #116
We are running our final tests and I'm very confident that we will release the fix very early tomorrow.

[2019-10-30 10:07] GVSupport commented on #116
Thank you.

Do you have any news on this please as we have a collection of customer support issues reported for this.

Regards

Mark

Mark Vernon

Gold-Vision CRM    Head of Product Development
mjvernon@gold-vision.com<mailto:mjvernon@gold-vision.com>
UK +44 (0)1788 511 110   North America +1 (647) 494 9870   Toll Free +1 (877) 673 1230
Twitter<https://twitter.com/goldvisioncrm> | LinkedIn<https:/

[2019-10-30 11:27] GVSupport commented on #116
Hi Gyula,

Do you have any update on this please?

Thanks

Mark

Mark Vernon

Gold-Vision CRM    Head of Product Development
mjvernon@gold-vision.com<mailto:mjvernon@gold-vision.com>
UK +44 (0)1788 511 110   North America +1 (647) 494 9870   Toll Free +1 (877) 673 1230
Twitter<https://twitter.com/goldvisioncrm> | LinkedIn<https://www.linkedin.com/company/esteiro-business-solutions-limited> | Faceb

[2019-10-30 12:50] iamgaborgithub commented on #116
Hello @GVSupport

We changed the default behavior of our generator. From now we don't sanitize the code.
We did it because that sanitization caused the issue with the button yesterday and also some issues in the past.

If you have problems because of this change, please let me know and we will help you.

Could you please test the preview that you mentioned again to be sure about our fix works for

[2019-10-30 16:12] GVSupport commented on #116
Thank you for the update.  It appears ok from our end.

Mark Vernon

Gold-Vision CRM    Head of Product Development
mjvernon@gold-vision.com<mailto:mjvernon@gold-vision.com>
UK +44 (0)1788 511 110   North America +1 (647) 494 9870   Toll Free +1 (877) 673 1230
Twitter<https://twitter.com/goldvisioncrm> | LinkedIn<https://www.linkedin.com/company/esteiro-business-solutions-limited> | Facebook<https

[2020-05-27 13:54] iamgaborgithub commented on #12
Dear confettidc,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kov

[2020-05-27 13:54] #12 closed, assigned to nobody

[2020-05-27 13:56] iamgaborgithub commented on #13
Dear agnieszkakowalska,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gá

[2020-05-27 13:56] #13 closed, assigned to nobody

[2020-05-27 13:57] iamgaborgithub commented on #15
Dear agnieszkakowalska,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gá

[2020-05-27 13:57] #15 closed, assigned to nobody

[2020-05-27 13:58] iamgaborgithub commented on #16
Dear agnieszkakowalska,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gá

[2020-05-27 13:58] #16 closed, assigned to nobody

[2020-05-27 13:58] iamgaborgithub commented on #19
Dear Mailcamp,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovác

[2020-05-27 13:58] #19 closed, assigned to nobody

[2020-05-27 13:59] iamgaborgithub commented on #22
Dear GVSupport,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Ková

[2020-05-27 13:59] #22 closed, assigned to nobody

[2020-05-27 13:59] iamgaborgithub commented on #23
Dear Vinícius,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovác

[2020-05-27 13:59] #23 closed, assigned to nobody

[2020-05-27 14:24] iamgaborgithub commented on #24
Dear Alessandro,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kov

[2020-05-27 14:24] #24 closed, assigned to nobody

[2020-05-27 14:24] iamgaborgithub commented on #25
Dear Alessandro,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kov

[2020-05-27 14:24] #25 closed, assigned to nobody

[2020-05-27 14:25] iamgaborgithub commented on #30
Dear GVSupport,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Ková

[2020-05-27 14:25] #30 closed, assigned to nobody

[2020-05-27 14:25] iamgaborgithub commented on #31
Dear Greg,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovács
Pr

[2020-05-27 14:25] #31 closed, assigned to nobody

[2020-05-27 14:26] iamgaborgithub commented on #32
Dear Daniel,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovács

[2020-05-27 14:26] #32 closed, assigned to nobody

[2020-05-27 14:26] iamgaborgithub commented on #35
Dear confettidc,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kov

[2020-05-27 14:26] #35 closed, assigned to nobody

[2020-05-27 14:27] iamgaborgithub commented on #37
Dear Richard,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovács

[2020-05-27 14:27] #37 closed, assigned to nobody

[2020-05-27 14:27] iamgaborgithub commented on #38
Dear confettidc,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kov

[2020-05-27 14:27] #38 closed, assigned to nobody

[2020-05-27 14:27] iamgaborgithub commented on #41
Dear GVThorne,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovác

[2020-05-27 14:27] #41 closed, assigned to arnolduis

[2020-05-27 14:28] iamgaborgithub commented on #44
Dear Richard,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovács

[2020-05-27 14:28] #44 closed, assigned to nobody

[2020-05-27 14:28] iamgaborgithub commented on #45
Dear confettidc,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kov

[2020-05-27 14:28] #45 closed, assigned to nobody

[2020-05-27 14:28] iamgaborgithub commented on #46
Dear confettidc,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kov

[2020-05-27 14:28] iamgaborgithub commented on #47
Dear ughoo,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovács
P

[2020-05-27 14:28] #47 closed, assigned to nobody

[2020-05-27 14:29] iamgaborgithub commented on #49
Dear Mailcamp,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovác

[2020-05-27 14:29] #49 closed, assigned to nobody

[2020-05-27 14:29] iamgaborgithub commented on #52
Dear rolficak ;) ,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor K

[2020-05-27 14:29] #52 closed, assigned to nobody

[2020-05-27 14:29] iamgaborgithub commented on #54
Dear GVSupport,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Ková

[2020-05-27 14:29] #54 closed, assigned to nobody

[2020-05-27 14:30] iamgaborgithub commented on #55
Dear gyulanameth ;),

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor

[2020-05-27 14:30] #55 closed, assigned to nobody

[2020-05-27 14:30] iamgaborgithub commented on #59
Dear Greg,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovács
Pr

[2020-05-27 14:30] #59 closed, assigned to ughoo

[2020-05-27 14:30] iamgaborgithub commented on #60
Dear GVSupport,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Ková

[2020-05-27 14:30] #60 closed, assigned to ughoo

[2020-05-27 14:31] iamgaborgithub commented on #61
Dear Greg,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovács
Pr

[2020-05-27 14:31] #61 closed, assigned to nobody

[2020-05-27 14:31] iamgaborgithub commented on #63
Dear gyulanameth ;),

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor

[2020-05-27 14:31] #63 closed, assigned to nobody

[2020-05-27 14:31] iamgaborgithub commented on #64
Dear Vinícius,

I’m Gábor from edmdesigner.com. I organize our public Github issues and close this ticket because it looks outdated. If you do not agree with it please leave a comment and I’ll be in touch.

If you have any new issues or feedback to share then please don’t hesitate and open a new ticket or send us an email to support@edmdesigner.com.

I hope you are well.

Best regards,
Gábor Kovác

[2020-05-27 14:31] #64 closed, assigned to nobody

[2020-05-27 15:05] sines99 commented on #46
Still same issue since 4 years now. You should fix it first - than you can close the ticket.

[2020-10-06 08:20] confettidc opened #117 "504 errors in loading editor"
Dear Support,

Recently we received customer complains that got error 504 with all below urls:

 https://api-a.edmdesigner.com
 https://api-b.edmdesigner.com
 https://api-c.edmdesigner.com

Our server needs retry 4-5 times in looping above 3 server and get project info.

Please help check, thanks.

[2021-03-10 12:07] sines99 opened #118 "mailto links no longer work in Thunderbir 78"
Since version 78 Thunderbird has a problem with mailto links that have a target="_blank" attribute. Thunderbird tries to open the links in a new tab. After that nothing happens anymore. Unfortunately the EDM designer sets target="_blank" for the links by default. You can't change this for the link type "email". Even if you try to work around this by selecting the type "URL", the protocol "Other" a

[2021-05-25 06:46] confettidc opened #119 "Delete API instance"
Hi,

May I know how to delete unused API instances? Thanks.